<div>
  <h1>{{teamModel.name}}</h1>
</div>
<!--Accordion wrapper-->
<div *ngIf="false" class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card" *ngFor="let profile of gameProfiles; let i = index">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#{{'collapse' + i}}" aria-expanded="false"
        aria-controls="collapseOne1">
        <h5 class="mb-0 text-center">
          {{profile.playerName}} <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="{{'collapse' + i}}" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
      data-parent="#accordionEx">
      <div class="card-body">
        <mdb-carousel #carousel [isControls]="addControlsToCarousel" class="carousel-multi-item multi-animation"
          [type]="'carousel-multi-item'" [animation]="'slide'">
          <mdb-carousel-item *ngFor="let item of profile.slides; let j = index">
            <div class="col" [ngClass]="{'d-none d-block': profileIndex !== 0}"
              *ngFor="let gameProfile of item; let profileIndex = index">
              <mdb-card class="my-1">
                <mdb-card-body>
                  <mdb-card-title>
                    <h4 class="text-center"> vs {{gameProfile.rivalName}}</h4>
                    <div class="text-center">
                      <span><i class="fas fa-calendar-alt"></i>
                        {{gameProfile.gameDateDay}}.{{gameProfile.gameDateMonth}}</span>
                    </div>
                  </mdb-card-title>
                  <div class="text-center">
                    <span> {{gameProfile.ownGoals}} : {{gameProfile.othersGoals}}</span>
                  </div>
                  <div class="text-center">
                    <span>
                      {{gameProfile.resultOutcomeLetter}}</span>
                  </div>
                  <!-- <div class="row">
                    <span class="col"><i class="fas fa-futbol"></i> {{player.activities[slideIndex].allShots}}</span>
                    <span class="col"><i class="fas fa-futbol"></i> {{player.activities[slideIndex].allAssists}}</span>
                    <span class="col"><i class="fas fa-futbol"></i>
                      {{player.activities[slideIndex].minutesPerGame}}</span>
                  </div> -->
                </mdb-card-body>
              </mdb-card>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>

  </div>
  <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->

<div class="panel-group" id="accordion" *ngIf="showAccordion">
  <div class="panel panel-default" *ngFor="let player of teamModel.players; let i = index">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#{{'collapse' + i}}" id="anchor-accordion">
        <h4 class="panel-title text-center">
          {{player.playerName}}
        </h4>
      </a>
    </div>
    <div id="{{'collapse' + i}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="thumbnail" *ngIf="showMobile">
          <div id="{{'carousel' + i}}" class="carousel slide" data-ride="carousel">


            <div class="carousel-inner">

              <div [ngClass]="{'item':true,'active':j === 0}"
                *ngFor="let profile of teamModel.teamGameProfiles; let j = index">
                <h2>vs {{profile.rivalName}}</h2>
              
                <div class="carousel-caption">
                  Goal assists: <span>{{player.activities[j].goalAssists}}</span>
                  Goals: <span>{{player.activities[j].goals}}</span><br>
                  All shots: <span>{{player.activities[j].allShots}}</span>
                  All assists: <span>{{player.activities[j].allAssists}}</span><br>
                  Minutes per game: <span >{{player.activities[j].minutesPerGame}}</span>
                </div>
              </div>


            </div>
            <a class="carousel-control left" href="#{{'carousel' + i}}" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#{{'carousel' + i}}" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="table-responsive" *ngIf="showDesktop">
          <table class="table table-bordered table-striped">
            <thead>
              <th *ngFor="let profile of teamModel.teamGameProfiles">
                <span>vs {{profile.rivalName}}</span>
              </th>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let activity of player.activities">
                  <span> {{activity.goalAssists}} </span>
                  <span> {{activity.goals}}</span><br>
                  <span> {{activity.allShots}}</span>
                  <span> {{activity.allAssists}}</span><br>
                  <span [ngStyle]="activity.isInjSub ? 'red' : 'black' "> {{activity.minutesPerGame}}</span><br>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered" *ngIf="showTable">
    <thead>
      <th style="vertical-align: middle!important;">Player Name</th>
      <th *ngFor="let profile of teamModel.teamGameProfiles"(click)="profile.isMilestone ?unsetMilestone(profile):setMilestone(profile)">
          <span *ngIf="profile.newManager!==null" style="color:red">{{profile.newManger}}<br></span>
        <span>vs {{profile.rivalName}}</span><br>
        <span class="text-center">{{profile.gameDateDay}}.{{profile.gameDateMonth}}</span><br>
        <span class="text-center">{{profile.ownGoals}}:{{profile.othersGoals}}</span><br>
        <span> {{profile.resultOutcomeLetter}}</span> <span> {{profile.gameProfileId}}</span>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let player of teamModel.players; let i = index">
        <td>
          {{player.playerName}}<br>
          {{player.number}}{{player.position}}<br>
          {{player.sortIndex}}
        </td>
        <td *ngFor="let activity of player.activities" (click)="toggleColor(activity)" [ngStyle]="{'background-color':getActivityColor(activity)}">
          <span style="color:red"> {{activity.goalAssists}} </span>
          <span style="color:red"> {{activity.goals}}</span><br>
          <span> {{activity.allShots}}</span>
          <span> {{activity.allAssists}}</span><br><span> {{activity.profileId}}</span><br>
          <span *ngIf="activity.redCard!==null&&activity.redCard" style="background:red">{{activity.redCard.muniteReceived}}<br>{{activity.redCard.resultReceived}}</span>
          <span [ngStyle]="{'color':activity.isInjSub ? 'red' : 'black'} "> {{activity.minutesPerGame}}<br>{{activity.subResult}}</span><br>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn loadmore" (click)="loadMore($event)">Load More</button>
<button class="btn" (click)="switchView()" class="btn pull-right">SwitchView</button>
