#anchor-accordion {
  text-decoration: none;
}

.item {
  background: #333;
  text-align: center;
  height: 300px;
}

h2 {
  margin: 0;
  color: #888;
  padding-top: 80px;
  font-size: 30px;
}

table {
  /* border-collapse: collapse; */
  width: 100%;
  table-layout: auto;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: black;
  color: white;
  vertical-align: middle;
}

th:first-child,
td:first-child {
  position: sticky;
  left: -1px;

}

td {
  background-color: grey;
}

.loadmore{
  padding-left:10%;
}