
<div class="container">
  <div class="row">

    <div class="col-md-4 text-center">
      <div class="card centerBlock">
        <div class="card-body" style="align-items: center;">
          <img src="assets/images/soccer-ball.svg" class="card-img-top" alt="...">
          <h5 class="card-title">FREE TRIAL</h5>
          <div class="card-price-body">
             <span class="card-price">&#x24;0
               <a style='font-size:20px;color:orange'>/mo</a>
          </span>
          </div>

          <ul class="card-text">
          <li>Adele test test</li>
          <li>Agnes test test</li>
          <li>Billy test test</li>
          <li>Bob test test</li>
        </ul>

          <div class="card-button">
            <a href="#" class="subscription-button" routerLink="/home" style="align-items: center;">START NOW</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card centerBlock">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body" style="align-items: center;">
          <img src="assets/images/soccer-ball.svg" class="card-img-top" alt="...">
          <h5 class="card-title">FREE TRIAL</h5>
          <div class="card-price-body">
             <span class="card-price">&#x24;0
               <a style='font-size:20px;color:orange'>/mo</a>
          </span>
          </div>
          <ul class="card-text">
            <li>Adele START NOW test</li>
            <li>Agnes START NOW test</li>
            <li>Billy START NOW test</li>
            <li>Bob START NOW test</li>
          </ul>

          <div class="card-button">
            <a href="#" class="subscription-button" routerLink="/home" style="align-items: center;">START NOW</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card centerBlock">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body" style="align-items: center;">
          <img src="assets/images/soccer-ball.svg" class="card-img-top" alt="...">
          <h5 class="card-title">FREE TRIAL</h5>
          <div class="card-price-body">
             <span class="card-price">&#x24;0
               <a style='font-size:20px;color:orange'>/mo</a>
          </span>
          </div>
          <ul class="card-text">
            <li>Adele test test</li>
            <li>Agnes test test</li>
            <li>Billy test test</li>
            <li>Bob test test</li>
          </ul>

          <div class="card-button">
            <a href="#" class="subscription-button" routerLink="/home" style="align-items: center;">START NOW</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
