.card {
  /*width: 90%;*/
  background-color: transparent;
  /*border-radius: 6px;*/
  /*background-color: #e95a2b;*/
  /*background-image: linear-gradient(to top, #e95a2b, #f5af19);*/
  /*background-color: #1a1a1a;*/
  /*background-image: linear-gradient(to bottom, #1a1a1a, #454545);*/
  /*border: 2px solid #ca8218;*/
  /*border-radius: 5px;*/

  /*background-color: #272927;*/
  /*background-image: linear-gradient(to bottom, #272927, #345835);*/

  /*background-color: #23252d;*/
  /*background-image: linear-gradient(to bottom, #23252d, #5c5d65);*/
  /*border: 1px solid #44582d;*/
  /*border-radius: 5px;*/
  border-radius: 16px;
  border: 3px solid grey;
  width: 230px;
  /*align-items: center;*/
  /*box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);*/
}
@media (min-width: 768px) {
  .card {

  }
}

/*.trapezoid-top {*/
  /*border-bottom: 0px solid #555;*/
  /*border-left: 0px solid transparent;*/
  /*border-right: 45px solid transparent;*/
  /*border-top: 50px solid #1a1a1a;*/
  /*height: 0;*/
  /*width: 0px;*/
/*}*/

/*.trapezoid-bottom {*/
  /*border-bottom: 50px solid #1a1a1a;*/
  /*border-left: 45px solid transparent;*/
  /*border-right: 0px solid transparent;*/
  /*height: 0;*/
  /*width: 0px;*/
  /*float:right;*/
/*}*/

.card-body {
  /*border-radius: 2px;*/
  text-align: center;

}
.centerBlock {
  display: table;
  margin: auto;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2714";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0a6c19; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
ul li::before {
  color: #8BC34A !important;
}
.card-title {
  padding: 15px 10px;
  /*!*background-color: #e95a2b;*!*/
  /*!*background-image: linear-gradient(to right, #e95a2b, #f5af19);*!*/
  /*!*border-top-left-radius: 4px;*!*/
  /*!*border-top-right-radius: 4px;*!*/
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.card-img-top {
  width:auto;
  height: 62px;
  margin-top: 13px;
}
.card-price {
  font-size: 65px;
  color: orange;
  font-weight: 400;
}
/*.card-padding {*/
  /*padding: 0px 40px;*/
/*}*/
.card-price-body {
  /*padding: 18px 0px;*/
  /*border: 3px solid grey;*/
  /*padding: 30px 65px;*/
  border-radius: 16px;
  margin: 15px;
  border: 2px solid white;
  height: 110px;
  padding-top: 6px;
}
.card-text {
  padding: 25px 10px;
  color:white;
}

.card-button {
  text-align: center;
  padding: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #e8850a;
  border-color: #b16b14;
  font-weight: 600;
}
.subscription-button {
  /*background-color: #1a1a1a;*/
  /*border-color: #b16b14;*/
  border: 2px solid white;
  border-radius: 16px;
  padding: 12px 25px;
  font-weight: 600;
  color: #fff;
}

.btn {
  border-radius: 2px;
}

ul li::before {
  /*content: "&#x25BA;"; !* Add content: \2022 is the CSS Code/unicode for a bullet *!*/
  color: red;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
