<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">GameId</label>
      <input type="text" formControlName="GameId">
    </div>
    <div class="row">
      <label for="">Year</label>
      <input type="text" formControlName="Year"/>
    </div>
    <div class="row">
      <label for="">Month</label>
      <input type="text" formControlName="Month"/>
    </div>
    <div class="row">
      <label for="">Day</label>
      <input type="text" formControlName="Day"/>
    </div>
    <div class="row">
      <label for="">Hour</label>
      <input type="text" formControlName="Hour"/>
    </div>
    <div class="row">
      <label for="">Min</label>
      <input type="text" formControlName="Min"/>
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>
