<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">ProfileId</label>
      <input type="text" formControlName="ProfileId">
    </div>
    <div class="row">
      <label for="">PlayerId</label>
      <input type="text" formControlName="PlayerId"/>
    </div>
    <div class="row">
      <label for="">Absence Reason</label>
      <input type="text" formControlName="AbsenceReason"/>
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>
