
<body class="fixed-sn black-skin" aria-busy="true">

<header>
  <!-- Sidebar navigation -->

    <div id="slide-out" class="side-nav sn-bg-4 fixed " style="transform: translateX(0px);" >
        <!-- Logo -->
      <div class="container"  (click)="clickedOutside($event)">
        <li style=" pointer-events: none;">
          <div class="logo-wrapper waves-light waves-effect waves-light">
            <a>
              <img class="logo" src="../../assets/images/new_logo.svg">
<!--              <img class="navbar-brand logo" src="https://lh3.googleusercontent.com/-x6L3MQgqYGc/XRZa1J5xZMI/AAAAAAAADg0/SxLZjnPWkn0pmJCpgd-hI45kxCBNu31YQCK8BGAs/s0/2019-06-28.png">-->
            </a>
          </div>
        </li>
          <hr>
        </div>
        <li class="sidebar-items" >
          <ul>
            <li ><a class="nav-link" routerLink="/home"   ><i class="fas fa-home"></i> Home</a>
            </li>
            <li><a class="nav-link" routerLink="/teams"><i class="fas fa-users"></i> Teams</a>
            </li>
            <li><a class="nav-link" routerLink="/games"><i class="fas fa-dice"></i> Games</a>
            </li>
            <li><a class="nav-link" routerLink="/strategies"><i class="fas fa-chess"></i> My strategies</a>

            </li>
            <li>
              <a class="nav-link" routerLink="/choose-leagues" ><i class="fas fa-trophy"></i> My competitions</a>

              <!--<a class="nav-link" routerLink="/strategies"><i class="fas fa-chess"></i> My strategies</a>-->
              <!--<button type="button" mdbBtn color="primary" class="leagues-btn-mobile" (click)="basicModal.show()" mdbWavesEffect>CHOOSE YOUR LEAGUES</button>-->
            <!--<button type="button" routerLink="/choose-leagues" class="leagues-btn-mobile">-->
              <!--CHOOSE YOUR LEAGUES-->
            <!--</button>-->
            </li>
          </ul>
        </li>
    </div>

      <div class="container"  (click)="clickedOutside($event)" style="height: calc(100% - 200px);">
<div>TEST</div>
    </div>

</header>
</body>
