
@media (max-width: 768px) {
  :host {
    background: #1a2580;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  ul {
    font-size: 12px;
    line-height: 3;
    font-weight: 600;

    list-style: none;
  }

  .sidebar-items {
    color: white;
    padding-left: 20px;
  }

  hr {
    border: 1px solid #ff98003b;
    /*margin-top: 95px;*/
  }

  .nav-link {
    color: white;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }


  .logo {
    background-image: url(src/assets/images/logo_2.png);
    height: 66px;
    width: auto;
    float: left;
    /*margin-bottom: 7px;*/
    margin-top: 13px;
    cursor: pointer;

  }

  .leagues-btn-mobile {
    padding: 0px 20px;
    margin-left: 15px;
    margin-top: 5px;
    color: white;
    background: transparent;
  }

  .rotate {
    width: 400px;
  }

  .black-skin .side-nav {
    box-sizing: content-box;
    max-width: 100%;
    background-color: #121212;
    /*padding-top: 65px;*/
    background-image: url(src/assets/images/body-background.jpg);
    background-size: contain;
    background-repeat: repeat repeat;
  }

  .sn-bg-4 {
    background-image: linear-gradient(to bottom, #000000bd 0%, #000000e6 100%), url(http://www.handy-logos.de/demo/720x1280/1362862544.jpg);
    /*https://thumbs.dreamstime.com/b/football-field-soccer-stadium-green-grass-blue-sky-sport-game-background-design-30488635.jpg*/

  }

  .side-nav {
    position: fixed;
    width: 15.7rem;
    left: 0;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    height: 100%;
    padding-bottom: 3.75rem;
    background-color: #2c2f34;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1040;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }

  .side-nav.fixed {
    left: 0;
    transform: translateX(0);
    position: fixed;
  }

  .side-nav ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
  }

  .side-nav > ul {
    max-height: 100vh;
  }

  .side-nav ul li {
    padding: 0;
  }

  .nav-link {
    display: inline-block;
    color: white;
  }


  .fa, .fas, .far, .fal, .fad, .fab {
    font-size: 13px;
    padding-right: 10px;
  }
}
  @media only screen and (max-width: 1440px) {
    .side-nav.fixed {
      transform: translateX(-105%);
    }
  }


@media (min-width: 768px) {
  :host {
    /*background: #1a2580;*/
    /*color: #fff;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*right: auto;*/
    /*bottom: 0;*/
    /*width: 20%;*/
    /*min-width: 250px;*/
    /*z-index: 9999;*/
    /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  }

  ul {
    font-size: 12px;
    line-height: 3;
    font-weight: 600;

    list-style: none;
  }

  .sidebar-items {
    color: white;
    padding-left: 20px;
  }

  hr {
    border: 1px solid #ff98003b;
    /*margin-top: 95px;*/
  }

  .nav-link {
    color: white;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }


  .logo {
    background-image: url(src/assets/images/logo_2.png);
    height: 66px;
    width: auto;
    float: left;
    /*margin-bottom: 7px;*/
    margin-top: 13px;
    cursor: pointer;

  }

  .leagues-btn-mobile {
    padding: 0px 20px;
    margin-left: 15px;
    margin-top: 5px;
    color: white;
    background: gray;
  }

  .rotate {
    width: 400px;
  }

  .black-skin .side-nav {
    background-color: #222;
  }

  .sn-bg-4 {
    /*background-image: linear-gradient(to bottom, #000000bd 0%, #000000e6 100%), url(http://www.handy-logos.de/demo/720x1280/1362862544.jpg);*/

  }

  .side-nav {
    display: none;
    /*position: fixed;*/
    /*width: 15.6rem;*/
    /*left: 0;*/
    /*top: 0;*/
    /*margin: 0;*/
    /*transform: translateX(-100%);*/
    /*height: 100%;*/
    /*padding-bottom: 3.75rem;*/
    /*background-color: #2c2f34;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*z-index: 1040;*/
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    /*overflow: hidden;*/
    /*will-change: transform;*/
    /*backface-visibility: hidden;*/
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);*/
  }

  .side-nav.fixed {
    left: 0;
    transform: translateX(0);
    position: fixed;
  }

  .side-nav ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
  }

  .side-nav > ul {
    max-height: 100vh;
  }

  .side-nav ul li {
    padding: 0;
  }

  .nav-link {
    display: inline-block;
    color: white;
  }


  .fa, .fas, .far, .fal, .fad, .fab {
    font-size: 13px;
    padding-right: 10px;
  }
}
/*-----------------------------------------------------------*/
/*MODAL/
/*-----------------------------------------------------------*/

img {
  vertical-align: middle;
  border-style: none;
  width: 20%;
}
.card-img-flag {
  width: 20% !important;
}
