<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">ProfileId</label>
      <input type="text" formControlName="ProfileId">
    </div>
    <div class="row">
      <label for="">Posts</label>
      <input type="text" formControlName="Posts"/>
    </div>
    <div class="row">
      <label for="">ReceivedPosts</label>
      <input type="text" formControlName="ReceivedPosts"/>
    </div>
    <div class="row">
      <label for="">MissedPenalties</label>
      <input type="text" formControlName="MissedPenalties"/>
    </div>
    <div class="row">
      <label for="">SavedPenalties</label>
      <input type="text" formControlName="SavedPenalties"/>
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>
