* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  color: #333;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}

body, html {
  background-color: #282525 !important;
  font-family: 'Roboto', 'Arial', 'sans-serif';
}

/*-----------------------------------------------------------*/
/*HEADER*/
/*-----------------------------------------------------------*/
header {
  /*background-image: linear-gradient(to right, #101010e0 0%, #0d0d0ddb 100%),url(src/assets/images/image1.png);*/
  background-color: #282525!important;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

.navbar-inverse {
  background-color: #333333;
  border-color: #08080800;
}

/*.sticky .navbar-inverse {*/
/*  background-color: #333333;*/
/*  border-color: #08080800;*/
/*}*/

.navbar {
  position: relative;
  min-height: 125px;
  margin-bottom: 0px;
  border-radius: 0px;
  align-items: normal;
  /* border: 1px solid transparent; */
}

.bg-dark {
  /*background-color: #1F1B24!important;*/
  background-color: #0e0819 !important;
  background-image: url(src/assets/images/nav-background.png);
  background-size: contain;
}

.hamburger-container {
  margin-right: 2vh;
}

.navbar-toggler {
  /*padding: 0.25rem 0.75rem;*/
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler-icon {
  color:black !important;
  }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color:black;
  /*padding: 0.5rem 1rem;*/
}

.logo2 {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100px;
  height: 100px;
}
  /*-----------------------------------------------------------*/
  /*NAVIGATION*/
  /*-----------------------------------------------------------*/
/*  .test {*/
/*  transform: translate3d(0px, 0px, 0px);*/
/*}*/
/*#header-line {*/
/*  height: 25px;*/
/*  background-color: #1a1a1a;*/
/*  !*background-image: linear-gradient(to right, #e95a2b, #333333);*!*/
/*  !*margin-bottom: 25px;*!*/
/*}*/

/*.logo {*/
/*  background-image: url(src/assets/images/logo_2.png);*/
/*  height: 50px;*/
/*  width: auto;*/
/*  float: left;*/
/*  margin-bottom: 7px;*/
/*  margin-top: 7px;*/
/*  cursor: pointer;*/
/*}*/
.logo {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100px;
  height: 100px;
}
.bg-dark {
  /*background-color: #1F1B24!important;*/
  background-image: url(src/assets/images/nav-background.png);
  background-size: contain;
}
#grad1 {
  height: 1.5px;
  background-color: #e95a2b;
  background-image: linear-gradient(to right, #e95a2b, #333333);
  margin-bottom: 8px;
}
/*@media (min-width: 768px){*/
/*  .navbar-expand-md {*/
/*    flex-flow: column;*/
/*    justify-content: flex-start;*/
/*  }*/
/*  .hamburger {*/
/*    display: none !important;*/
/*  }*/

/*}*/
@media (max-width: 768px) {
  .navbar {
    min-height: 60px;
    /*float:left;*/
  }
}
  /*.hamburger span {*/
    /*top: 45px;*/
    /*right: 25px;*/
    /*height: 4px !important;*/
    /*background: #9E9E9E !important;*/
    /*border-radius: 1px !important;*/
  /*}*/
/*  #hamburger-icon    {*/
/*    top: 45px;*/
/*    !*right: 40px;*!*/
/*    height: 3px;*/
/*    background: #afa5a5;*/
/*    border-radius: 3px;*/
/*  }*/
/*  #hamburger-icon::after {*/
/*    bottom: -10px;*/
/*    height: 3px;*/
/*    background: #afa5a5;*/
/*    border-radius: 3px;*/
/*  }*/
/*  #hamburger-icon::before {*/
/*    top: -10px;*/
/*    height: 3px;*/
/*    background: #afa5a5;*/
/*    border-radius: 3px;*/
/*  }*/
/*  #sidebar-menu {*/
/*    background: #1e1d1d;*/
/*    text-transform: uppercase;*/

/*  }*/
/*}*/

/*@media (min-width: 768px) {*/
/*  .main-nav {*/
/*    !*float:right;*!*/
/*    list-style: none;*/
/*    !*margin-top: 75px;*!*/
/*    margin-bottom: 17px;*/
/*  }*/
/*  !*#sidebar-menu {*!*/
/*    !*display: none;*!*/
/*  !*}*!*/
/*  !*.leagues-btn {*!*/
/*    !*display: none;*!*/
/*  !*}*!*/
/*}*/
/*.header-nav li {*/
/*  display: inline-block;*/
/*  margin-right: 20px;*/
/*  float: right;*/
/*}*/

/*.header-nav li a {*/
/*  padding: 3px 0;*/
/*  color: #cec8c8fc;*/
/*  text-decoration: none;*/
/*  text-transform: uppercase;*/
/*  !* font-size: 92%; *!*/
/*  !* font-family: arial,sans-serif; *!*/
/*  font-size: 10px;*/
/*  !* font-weight: normal; *!*/
/*  font-weight: 700;*/
/*  display: block;*/
/*  letter-spacing: 0.10em;*/
/*  -webkit-transition: all .3s ease;*/
/*  transition: all .3s ease;*/
/*  line-height: 20px;*/
/*}*/

/*.main-nav li {*/
/*  display: inline-block;*/
/*  margin-right: 20px;*/
/*  margin-top: 10px;*/
/*}*/

/*.main-nav li a {*/
/*  padding: 0px 0;*/
/*  color: #cec8c8fc;*/
/*  text-decoration: none;*/
/*  text-transform: uppercase;*/
/*  !* font-size: 92%; *!*/
/*  !* font-family: arial,sans-serif; *!*/
/*  font-size: 13px;*/
/*  !* font-weight: normal; *!*/
/*  font-weight: 700;*/
/*  display: block;*/
/*  letter-spacing: 0.10em;*/
/*  -webkit-transition: all .3s ease;*/
/*  transition: all .3s ease;*/
/*  line-height: 20px;*/
/*}*/

/*.main-nav li a:hover,*/
/*.main-nav li a:active {*/
/*  padding: 0px 0;*/
/*  border-bottom: 2px solid #f2eeef;*/

/*}*/
/*.user-icon {*/
/*  color:white;*/
/*  height: 20px;*/
/*}*/

/*.championship{*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: 30px;*/
/*  padding: 0px 40px;*/
/*  font-size: 12px;*/
/*  line-height: 1.42857143;*/
/*  color: white;*/
/*  background-color: #1a1a1a;*/
/*  background-image: none;*/
/*  border: 1px solid #4e4c4c;*/
/*  border-radius: 16px;*/
/*  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
/*  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
/*  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
/*  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
/*  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
/*  margin-bottom:5px;*/
/*  text-transform: uppercase;*/
/*  font-weight: 400;*/
/*}*/

/*.championship-dropdown {*/

/*}*/

/*.choose-leagues-button {*/
/*  color: white;*/
/*  font-size: 16px;*/
/*  padding: 7px 16px;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  border-radius: 4px;*/
/*  text-align: center;*/
/*  background: #9E9E9E;;*/
/*  font-weight: 500;*/
/*  margin-bottom: 8px;*/
/*}*/
/*.leagues-btn {*/
/*  margin-bottom: 10px;*/
/*  padding: 4px 10px;*/
/*  border: 2px solid #9E9E9E;*/
/*  color: white;*/
/*  font-size: 13px;*/
/*  !* border-radius: 20px; *!*/
/*  font-weight: 600;*/
/*  background-color: #eb7d5a00;*/
/*}*/
/*.navbar-toggler-right {*/
/*  !*margin-bottom: 10px;*!*/
/*}*/
/*======================================*/
/*.hamburger {*/
/*  display: block;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  width: 75px;*/
/*  height: 96px;*/
/*  font-size: 0;*/
/*  text-indent: -9999px;*/
/*  cursor: pointer;*/
/*  outline: none;*/
/*  background: none;*/
/*  border: 0;*/
/*}*/


/*.hamburger span {*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 44px;*/
/*  left: 18px;*/
/*  right: 18px;*/
/*  height: 8px;*/
/*  background: #1a2580;*/
/*}*/

/*.hamburger span::before,*/
/*.hamburger span::after {*/
/*  display: block;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  width: 100%;*/
/*  height: 8px;*/
/*  background-color: #1a2580;*/
/*  content: "";*/
/*}*/

/*.hamburger span::before {*/
/*  top: -20px;*/
/*}*/

/*.hamburger span::after {*/
/*  bottom: -20px;*/
/*}*/

/*!*-----------------------------------------------------------*!*/
/*!*MODAL/*/
/*!*-----------------------------------------------------------*!*/
/*-----------------------------------------------------------*/
/*MODAL/
/*-----------------------------------------------------------*/

/*.modal {*/

  /*display: block;*/
  /*position: fixed;*/
  /*!* height: 785px; *!*/
  /*max-height: calc(100vh - 4rem)!important;;*/
  /*overflow: hidden;*/
/*}*/
/*#myModal.modal.show {*/
  /*!*overflow-x: hidden;*!*/
  /*!*overflow-y: auto;*!*/
  /*display: flex !important;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*!*overflow: auto;*!*/
  /*align-items: center!important;*/
/*}*/

/*.modal-dialog-scrollable .modal-content {*/
  /*max-height: calc(100vh - 5rem);*/
  /*overflow: hidden;*/
  /*margin: 10px;*/
/*}*/
/*.card-img-flag {*/
  /*width: 15%;*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*margin-bottom: 5px;*/
/*}*/
/*.card-body {*/
  /*text-align: center;*/
  /*margin-top: 10px;*/
/*}*/
/*.modal-footer {*/
  /*height: 70px;*/
  /*background-color: #221835;*/
/*}*/
/*.switch {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*width: 40px;*/
  /*height: 14px;*/
/*}*/

/*.switch input {*/
  /*opacity: 0;*/
  /*width: 0;*/
  /*height: 0;*/
/*}*/

/*.slider {*/
  /*position: absolute;*/
  /*cursor: pointer;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*background-color: #ccc;*/
  /*-webkit-transition: .4s;*/
  /*transition: .4s;*/
/*}*/

/*.slider:before {*/
  /*position: absolute;*/
  /*content: "";*/
  /*height: 16px;*/
  /*width: 16px;*/
  /*left: 0px;*/
  /*bottom: -1px;*/
  /*background-color: #f8f8f8;*/
  /*border: 1px solid #828282;*/
  /*-webkit-transition: .4s;*/
  /*transition: .4s;*/
/*}*/

/*input:checked + .slider {*/
  /*background-color: #2196F3;*/
/*}*/

/*input:focus + .slider {*/
  /*box-shadow: 0 0 1px #2196F3;*/
/*}*/

/*input:checked + .slider:before {*/
  /*-webkit-transform: translateX(26px);*/
  /*-ms-transform: translateX(26px);*/
  /*transform: translateX(26px);*/
/*}*/

/*!* Rounded sliders *!*/
/*.slider.round {*/
  /*border-radius: 24px;*/
/*}*/

/*.slider.round:before {*/
  /*border-radius: 50%;*/
/*}*/
/*.modal-header {*/
  /*height: 45px;*/
  /*background-color: #221835;*/
/*}*/
/*.modal-title {*/
  /*color: white;*/
  /*font-size: 1.1rem;*/
  /*font-weight: 500;*/
  /*text-transform: uppercase;*/
  /*padding-top: 8px;*/
/*}*/

/*@media (max-width: 575px) {*/

  /*.card-img-flag {*/
    /*width: 15%;*/
  /*}*/
  /*.card-body {*/
    /*text-align: center;*/
    /*width: 100%;*/
  /*}*/
/*.card-img {*/
  /*justify-content: center;*/
/*}*/

/*}*/
/*-----------------------------------------------------------*/
/*NAVIGATION* RESPONSIVE/
/*-----------------------------------------------------------*/
@media (max-width: 768px) {
  .main-nav li{
    display: none;
    margin-right: 20px;
    margin-top: 5px;
  }


  .main-nav {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px 0px;
  }
  .navbar-nav {
    display: none;
    text-align: center;
  }
  .logo {
    display: none;
  }

}
@media (max-width: 575px) {
  .logo {
   margin-left:10px;
  }
  .navbar-toggler {
    /*margin-right: 10px;*/
  }

  .main-nav {
    margin-left:10px;
  }
  .choose-leagues-button {
    margin-left:10px;
  }

}
/*-----------------------------------------------------------*/
/*STICKY NAVIGATION*/
/*-----------------------------------------------------------*/
/*.sticky {*/
  /*border-bottom: 1px solid rgba(25, 23, 23, 0.44);*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*background-color: #333333;*/
  /*box-shadow: 0 2px 2px #0f0f0f;*/
  /*border-radius: 0;*/
  /*-webkit-transition: all .4s ease;*/
  /*transition: all .4s ease;*/
  /*z-index: 99999;*/
/*}*/

/*.sticky .main-nav li a:hover,*/
/*.sticky .main-nav li a:active {*/
  /*padding: 0px 0;*/
  /*border-bottom: 2px solid #353535;*/

/*}*/

/*.sticky .main-nav li a:link,*/
/*.sticky .main-nav li a:visited {*/
  /*padding: 0px 0;*/
  /*color: #d4d4d4;*/
  /*text-decoration: none;*/
  /*text-transform: uppercase;*/
  /*font-size: 90%;*/
/*}*/
/*-----------------------------------------------------------*/
/*FOOTBALL DROP DOWN*/
/*-----------------------------------------------------------*/
/*.football-dropdown {*/
/*  border: 1px solid #4a4848;*/
/*  border-radius: 20px;*/
/*  background-color: #1a1a1a;*/
/*  padding: 6px 28px;*/
/*  margin: -6px 0px;*/
/*  color: white;*/
/*}*/

/*.dropdown-menu {*/
/*  !*min-width: 400px;*!*/
/*  !*margin-left: -247px;*!*/
/*  !*margin: 5px 0 0;*!*/
/*  background-color: #333;*/
/*  !*border: 2px solid grey;*!*/
/*}*/

/*.dropdown-divisions {*/
/*  color: white;*/
/*  display: inline-block;*/
/*  padding: 10px 10px;*/
/*  font-size: 15px;*/
/*  text-transform: uppercase;*/
/*  font-family: sans-serif;*/
/*  font-weight: 600;*/
/*}*/

/*.dropdown-countries {*/
/*  color: white;*/
/*  display: inline-block;*/
/*  padding: 0px 0px;*/
/*  font-size: 12px;*/
/*  text-transform: uppercase;*/
/*  font-family: sans-serif;*/
/*  font-weight: 600;*/
/*}*/
/*.league-img {*/
/*  !*padding: 15px 25px;*!*/
/*  font-size: 24px;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  outline: none;*/
/*  color: #fff;*/
/* !* // background-color: #4CAF50; *!*/
/*  border: none;*/
/*  border-radius: 15px;*/
/*  box-shadow: 11px 2px 11px 11px #00000042;*/
/*}*/

/*.league-img:hover {}*/

/*.league-img:active {*/
/* !* // background-color: #3e8e41; *!*/
/*  box-shadow: 0 5px transparent;*/
/*  transform: translateY(4px);*/
/*}*/

/*-----------------------------------------------------------*/
/*PAGE CONTENT*/
/*-----------------------------------------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*-----------------------------------------------------------*/
/*PAGE BACKGROUND*/
/*-----------------------------------------------------------*/
#page-background {
  box-sizing: content-box;
  max-width: 100%;
  background-color: #121212;
  padding-top: 65px;
  background-image: url(src/assets/images/body-background.jpg);
  background-size: contain;
  background-repeat: repeat repeat;
}

/*.navigation-container {*/
/*  max-width: 100%;*/
/*}*/

/*#title {*/
/*  padding-top: 10px;*/
/*  line-spacing: 2px;*/
/*  font-size: 2em;*/
/*  line-spacing: 2px;*/
/*  background-color: #060606;*/
/*  !*box-shadow: 0 2px 2px #060606;*!*/
/*  box-shadow: inset 4px -2px 5px 2px #23202099;*/
/*  margin: 0px;*/
/*  box-sizing: border-box;*/
/*  background-color: #000000fa;*/
/*  border: 1px solid #312f2f54;*/
/*}*/

/*#page-title {*/
/*  box-sizing: content-box;*/
/*  max-width: 100%;*/
/*  background-color: #060606;*/
/*  box-shadow: 0 2px 2px #060606;*/
/*  padding-top: 10px;*/
/*}*/

.page-content {
  padding: 0em;
  /*max-width:100%;*/
  min-height: 100vh;
  width: auto;
  margin: 0px;
  box-sizing: border-box;
  /*background-color: #2b94621f;*/
  /*border: 2px solid #312f2f54;*/
  /*margin-top: 10px;*/
  /*margin-bottom: 20px;*/
}

/*-----------------------------------------------------------*/
/*SEARCH BAR*/
/*-----------------------------------------------------------*/
.search-bar-btn {
  /*padding-top:20px;*/
}

.search-bar {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .navbar-form .form-control {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1a1a1a;
    border-color: #464444;
  }
}
@media (max-width: 768px) {
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1a1a1a;
    border-color: #464444;
  }
  /*.choose-leagues-button {*/
    /*margin-left: 15px;*/
  /*}*/
}


.btn-default {
  color: #fff;
  /*background-color: #fff;*/
  /*border-color: #ccc;*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1a1a1a;
  border-color: #464444;
}

/*-----------------------------------------------------------*/
/*MODAL/
/*-----------------------------------------------------------*/
#myModal.modal.show {
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  /*overflow: auto;*/
  align-items: center!important;
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 5rem);
  overflow: hidden;
  margin: 10px;
}
/*.card {*/
  /*align-items: center;*/
  /*text-align: center;*/
/*}*/
.card-image-flag{
  width: 65%!important;
}
/*.card-img-flag {*/
/*width: 20%!important;*/
/*align-items: center;*/
/*text-align: center;*/
/*margin-bottom: 5px;*/
/*}*/
.card-body {
  text-align: center;
  /*margin-top: 10px;*/
  width: 100%;
}

.card-img {
  justify-content: center !important;
  text-align: center;
}

.modal-footer {
  height: 70px;
  background-color: #221835;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -1px;
  background-color: #f8f8f8;
  border: 1px solid #828282;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3db242;
}

input:focus + .slider {
  background-color: #3db242;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal-header {
  height: 45px;
  background-color: #1a0c32 !important;
}
.modal-header-leagues {
  background-color: #0d8a1f !important;

}
.modal-content {
  background-color: #110724 !important;
}
.modal-title {
  color: #ff56b8;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 8px;
}



@media (max-width: 575px) {

  .card-img-flag {
    width: 15%;
  }
  .card-body {
    text-align: center;
    width: 100%;
  }

  .card-img {
    justify-content: center;
  }

}
.modal-dialog .modal-content .modal-header {
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
  background: #160c29;
}

/*-----------------------------------------------------------*/
/*MODAL COLORS*/
/*-----------------------------------------------------------*/

.card {
  /*align-items: center;*/
  /*text-align: center;*/
  padding: 10px;
  background: pink;
  margin: 10px;
}

.choose-league-modal {
  color:darkblue;
}

.card-link img {
  transform: rotate(180deg);
  float: right;
  font-size: 24px;
  height: 20px;
}

.card-link.collapsed img {
  transform: rotate(0deg);
  float: right;
  font-size: 24px;
  height: 20px;
}

.league-img-flag {
  width: 65%;
}

.single-league-img-flag {
  width: 20%;
}

/*-----------------------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------------------*/
footer {
  background-color: #1F1B24;
  padding: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border: 2px solid #171414c2;
}

footer p {
  color: #cccccc;
  text-align: center;
  /*font-size:90%;*/
  /*margin-top: 20px;*/
}



