<!--<header lang="en">-->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <!-- Brand -->
      <div class="navbar-brand">
                    <img src="../../assets/images/new_logo.svg" alt="" class="logo2">
                  </div>
<!--      <div class="d-flex flex-row">-->
<!--        <div class="col-4">-->
<!--          <img class="navbar-brand logo"-->
<!--               src="https://lh3.googleusercontent.com/-x6L3MQgqYGc/XRZa1J5xZMI/AAAAAAAADg0/SxLZjnPWkn0pmJCpgd-hI45kxCBNu31YQCK8BGAs/s0/2019-06-28.png">-->
<!--        </div>-->
<!--        <div class="col-6">-->
<!--          &lt;!&ndash;<form class="form-inline navbar-form  search-bar">&ndash;&gt;-->

<!--          &lt;!&ndash;<button class="btn btn-default search-bar-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>&ndash;&gt;-->
<!--          &lt;!&ndash;<input class="form-control mr-sm-2" type="text" placeholder="Search">&ndash;&gt;-->
<!--          &lt;!&ndash;</form>&ndash;&gt;-->
<!--        </div>-->
        <!--<div class="navbar-form  search-bar" role="search">-->
        <!--<button class="btn btn-default search-bar-btn" type="submit"><i class="glyphicon glyphicon-search"></i>-->
        <!--</button>-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
<!--        <div class="col-2">-->
<!--          &lt;!&ndash;Icon&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
      <div id="grad1"></div>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/home">Home</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/teams">Teams</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/games">Games</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/strategies">My Strategies</a>-->
      <!--</li>-->

      <!-- Toggler/collapsibe Button -->
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"  (click)="toggleNavbar()">-->
      <!--<span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <div class="hamburger-container">
        <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button" (click)="toggleMenu()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
<!--      <button (click)="toggleMenu()" class="hamburger">-->
<!--        <span id="hamburger-icon">toggle menu</span>-->
<!--      </button>-->

      <app-menu id="sidebar-menu" [@slideInOut]="menuState === 'out' ? 'in' : 'out'"
                (click)="clickIn($event)"></app-menu>


      <ul class="navbar-nav main-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/strategies">My Strategies</a>
        </li>

        <ul class="navbar-nav ml-auto">

          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>


          <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">


            <div class="" style="align-items: center">

            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                  <div id="accordion">

                    <div class="card">
                      <div class="card-header">
                        <a class="card-link" data-toggle="collapse" data-target="#collapseOne">
                          1.Choose your league
                          <!--<i class="arrow-accordion"  ></i>-->
                          <img  src="/assets/images/arrow-down2.svg" >
                          <!--<i class="fas arrow-accordion"></i>-->
                          <!--<i class="fas fa-angle-down arrow-accordion"></i>-->
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row">
                            <!--<div class="col">-->
                            <div  class="col" *ngFor="let item of options">

                              <img class="league-img-flag" src="assets/images/{{item.name}}.png" alt="Card image"><br>
                              <label class="switch" >

                            <input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.label}}
                            <span class="slider round"></span>

                              </label>
                            </div>
                          <!--</div>-->
                        </div>

                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse"  data-target="#collapseTwo">
                          2.Refine your selection
                          <img  src="/assets/images/arrow-down2.svg" >
                        </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="row card-img" style="justify-content: center;" *ngFor="let sel of this.selectedValues; let i=index; ">
                          <!--<div class="col">-->
                          <img class="single-league-img-flag" src="assets/images/{{sel}}.png" alt="Card image" >
                        <div class="card-body">

                          <div class="row" >
                            <!--<div class="col">-->

                            <!--<img class="league-img-flag" src="assets/images/Germany.png" alt="Card image"><br>-->
                            <div  class="col" *ngFor="let option of options[i].divisions">
                              <div class="row" style="align-items: center;text-align: center">
                                <p style="align-items: center;text-align: center;font-size:18px">{{option.name}}</p>
                              </div>
                              <!--<img class="league-img-flag" src="assets/images/Germany.png" alt="Card image"><br>-->
                              <label class="switch" >

                                <input type="checkbox" [(ngModel)]="option.checked2" (change)="onToggle2($event)">
                                <span class="slider round"></span>

                              </label>
                            </div>
                            <!--</div>-->
                          </div>

                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                  <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="saveChanges()">Save changes</button>
                </div>
              </div>
            </div>
          </div>
  </div>

        </ul>
      </ul>

    </nav>
  </div>
</div>
</div>

<div id="page-background" (click)="clickedInside($event)">
  <section class="page-content">

    <router-outlet></router-outlet>

  </section>
</div>

<footer (click)="clickedInside($event)">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Copyright &copy; 2018
      </p>
    </div>
  </div>
</footer>
</body>
</html>

