
/*---------------------------------TABLE BOX--------------------------------------*/
#example1 {
  box-sizing: content-box;
  max-width: 100%;
  background-color: #f98ba112;
  box-shadow: 2px 2px 4px #333c3375;
  border-radius: 15px;

}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*-----------------------------------------------------------*/
/*CONTAINERS*/
/*-----------------------------------------------------------*/
.tabs-container {
  /*width:49%;*/
  height: 600px;
  /*float:right;*/
  /*margin-top: 0.9%;*/
}
.chart-container {
  width:49%;
  height: 282px;
  /*float:left;*/
}
.table-container {
  width: 49%;
  /*margin-left: 50%;*/
  /*margin-top: -31.5%;*/
  float:left;
}

.chart-table-container {
  width:49%;
  /*height: 282px;*/
  float:left;
  margin-top: 41%;
  margin-right: 5%;
}
.btn-container {
  width:49%;
  /*height: 282px;*/
  float:left;
  background-color: #0a0a0a;
}
.predictions-container {
  width: 49%;
  margin-bottom: 4%;
  float:left;
}
/*-----------------------------------------------------------*/
/*FOOTBALL PREDICTIONS BOX*/
/*-----------------------------------------------------------*/


.header-title-football-predictions {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 5px solid #ffb100d9;
}
.header-football-predictions {
  background-color: #284da1;
  height: 46px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 2px 2px 4px #333c3375;
}

.container-football-predictions {
  color: black;
  padding-top: 10px;
  background: #d4d4d461;
  border-bottom: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  box-shadow: 2px 2px 4px #333c3375;
}

.football-predictions-items {
  padding-left:10px;
  padding-bottom:10px;
  border-bottom: 1px solid #909090;
}

.badge {
  float:right;
  margin-right: 1%;
}
.footer-football-predictions{
  background-color:#243865;
  height: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 4px #333c3375;
}










/*-----------------------------------------------------------*/
/*BOOTSTRAP OVERRIDE*/
/*-----------------------------------------------------------*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: #211f1f;
  border: 1px solid black;
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 2px solid #211f1f;
}
a {
  color: white;
  text-decoration: none;
}
.nav-tabs>li:hover {
  background-color: #4b4b4b;
}
.nav-tabs> li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: white;
  cursor: default;
  background-color: #211f1f;
  border: 1px solid black;
  border-bottom-color: transparent;
}
.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
  margin-left: -10px;
  margin-top: 20px;
  margin-left: -10px;
}

/*---------------------------------TABLE--------------------------------------*/

table {
  display: block;
  max-height: 420px;
  max-width: 100%;
  border-collapse: collapse;
  overflow: auto;
  /*border-radius: 1em;*/
  /*margin-top: 20px;*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  margin-bottom:30px;
  padding-left: 10px;
  /*margin-top: 50px;*/
}

table.main-window-table th {
  background-color: #0c130d;
  color: #ffffffe0;
  width: 25%;
  /*border-color: #172d0a;*/
  height: 4vh;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 600;
}

table.main-window-table tr:nth-child(even) {
  background-color: #0c0c0c;
}

table.main-window-table tr:nth-child(odd) {
  background-color: #0a0a0a;
}
td, th {
  /*padding: 0;*/
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
}
td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.live-score {
  border-bottom: 4px solid #ffb100d9;
  padding-bottom: 10px;
  color: white;
  padding-left: 10px;
  padding-top: 12px;
  background-color:#102e11f5 ;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.live-score-table {

}

/*-----------------------------------------------------------*/
/*LIVE SCORE BUTTON*/
/*-----------------------------------------------------------*/
.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  color: white;
  cursor: default;
  background-color: #211f1f;
  border: 1px solid black;
  border-bottom-color: transparent;
  border:2px solid red;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  color: white;
  cursor: default;
  border: 1px solid #211f1f;
  border-bottom-color: transparent;
  background-color: #211f1f;;
}
.nav-tabs > li > a, .nav-tabs > li > a, .nav-tabs > li > a {
  color: white;
  cursor: default;
  border: 1px solid black;
  border-bottom-color: transparent;
  background-color: #060606;
}
.live-button {
  background-color: #f4511e;
  color: #151313;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 515px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  border: 4px solid black;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}.button {
   border-radius: 4px;
   background-color: rgb(244, 149, 30);
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 28px;
   padding: 20px;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
 }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
