<!--/*-----------------------------------------------------------------------------------*/-->
<!--CONTAINERS-->
<!--/*-----------------------------------------------------------------------------------*/-->

<!--/*-----------------------------------------------------------------------------------*/-->
<!--FOOTBALL PREDICTIONS BOX-->
<!--/*-----------------------------------------------------------------------------------*/-->

<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
      <!--<header class="header-football-predictions">-->
        <!--<h4 class="header-title-football-predictions">FOOTBALL PREDICTIONS</h4>-->
      <!--</header>-->

      <!--<div class="container-football-predictions">-->
        <!--<p class="football-predictions-items">TEST<span class="badge">see more</span></p>-->
        <!--<p class="football-predictions-items">TEST<span class="badge">see more</span></p>-->
        <!--<p class="football-predictions-items">TEST<span class="badge">see more</span></p>-->
        <!--<p class="football-predictions-items">TEST<span class="badge">see more</span></p>-->
        <!--<p style="margin-left:10px;">TEST<span class="badge">see more</span></p>-->
      <!--</div>-->

      <!--<footer class="footer-football-predictions">-->
        <!--&lt;!&ndash;<h3 style="height: 2%;">Footer</h3>&ndash;&gt;-->
      <!--</footer>-->
      <!--<div style="display: block; height: 100%;-->
    <!--background: #4caf5030;border: 1px solid #0080006e;-->
    <!--margin-top: 20px;box-shadow: 3px 3px 3px #496b4a80;">-->
        <!--<canvas baseChart width="400" height="300"-->
                <!--[datasets]="lineChartData"-->
                <!--[labels]="lineChartLabels"-->
                <!--[options]="lineChartOptions"-->
                <!--[colors]="lineChartColors"-->
                <!--[legend]="lineChartLegend"-->
                <!--[chartType]="lineChartType"-->

        <!--&gt;</canvas>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
      <!--<div id="example1" class="tabs-container">-->
        <!--<h4 class="live-score">LIVE SCORE</h4>-->
        <!--<div>-->
          <!--<ul class="nav nav-tabs">-->
            <!--<li class="active"><a href="#">TODAY</a></li>-->
            <!--<li><a href="#">14.02</a></li>-->
            <!--<li><a href="#">14.03</a></li>-->
            <!--<li><a href="#">14.04</a></li>-->
          <!--</ul>-->
          <!--<br>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--/*-----------------------------------------------------------------------------------*/-->
<!--/*CHART AND CHART TABLE*/-->
<!--/*-----------------------------------------------------------------------------------*/-->
<!--<div class="chart-container">-->
    <!--<div style="display: block; width: 106%;margin-left: -2%; height:100%;">-->
      <!--<canvas baseChart width="400" height="300"-->
              <!--[datasets]="lineChartData"-->
              <!--[labels]="lineChartLabels"-->
              <!--[options]="lineChartOptions"-->
              <!--[colors]="lineChartColors"-->
              <!--[legend]="lineChartLegend"-->
              <!--[chartType]="lineChartType"-->

      <!--&gt;</canvas>-->
    <!--</div>-->
  <!--</div>-->
<br>
<!--<div class="chart-table-container">-->
  <!--<div style="margin-bottom: 10px">-->
    <!--<table class="main-window-table">-->
      <!--<tr>-->
        <!--<th *ngFor="let label of lineChartLabels">{{label}}</th>-->
      <!--</tr>-->
      <!--<tr *ngFor="let d of lineChartData">-->
        <!--<td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->


