<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">Id</label>
      <input type="text" formControlName="id">
    </div>
    <div class="row">
      <label for="">New Content</label>
      <textarea type="text" formControlName="newContent"></textarea>
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>
