<table class="table table-bordered table-striped" ng-style="{'font-size':'xx-small'}" ng-show="playersT">
  
  <tr>
      <td class="col-md-1"><span>{{inputModel.nick}}</span></td>

      <td *ngFor="let profile of inputModel.teamProfiles; let i = index" ng-class="{'greenClass':profile.isMileStone}"
          class=" col-md-1 text-center sc{{profile.gameProfileId}}" ng-dblclick="profileSelect(profile,$event)">
          <span ng-show="profile.redCardEvents.length>0" ng-style="{'color':'red'}">!</span><br/>
          <span ng-show="profile.newManager != null" ng-style="{'color': 'green'}">NM</span>
      </td>
      <td ng-class="{'greenClass':inputModel.currentProfile.isMileStone}"
          ng-dblclick="profileSelect(inputModel.currentProfile,$event)"
          class="col-md-1 text-center sc{{inputModel.currentProfile.gameProfileId}}">
          <span ng-show="inputModel.currentProfile.redCardEvents.length>0" ng-style="{'color':'red'}">!</span><br/>
          <span ng-show="inputModel.currentProfile.newManager != null" ng-style="{'color': 'green'}">NM</span>
      </td>
  </tr>
  <tr>
      <td>
          <span ng-style=" {'float': 'right'}">
          <span>M</span><br/>
          <span class="text-right">DM</span><br/>
          <span>MS</span><br/>
          <span>OL</span><br/>
          <span>RN</span><br/>
          <span>SG</span><br/>
          <span>RG</span><br/>
          <span>PE</span><br/>
          <span>WW</span>
</span>
      </td>
      <td *ngFor="let profile of inputModel.teamProfiles; let i = index" ng-click="profileHover(profile)"
          class="text-center sc{{profile.gameProfileId}}"
          ng-class="{'greenClass':profile.isMileStone}">
          <span>{{profile.gameDateMonth}}</span><br/>
          <span>{{profile.gameDateDay}}</span><br/>
          <span>  {{profile.matchSituation }}</span><br/>
          <span>  {{profile.resultOutcomeLetter }}</span><br/>
          <span> <a href="#/teams/{{profile.rivalName}}"> {{profile.rivalName}}</a></span><br/>
          <span ng-style="profile.matchSituation == 'A' && {'color': 'red'}">  {{profile.ownGoals}}</span><br/>
          <span ng-style="profile.matchSituation == 'A' && {'color': 'red'}">  {{profile.otherGoals}}</span><br/>
          <span ng-hide="profile.missedPen==0&&profile.savedPen==0 ">  {{profile.missedPen}}/{{profile.savedPen}}</span><br/>
          <span>  {{profile.woodWorks}}</span><br/>

      </td>
      <td ng-click="profileHover(inputModel.currentProfile)" class="text-center sc{{inputModel.currentProfile.gameProfileId}}"
          ng-style="inputModel.currentProfile.isMileStone ===true && {'background-color': 'green'}">
          <span>{{inputModel.currentProfile.gameDateMonth}}</span><br/>
          <span>{{inputModel.currentProfile.gameDateDay}}</span><br/>
          <span>  {{inputModel.currentProfile.matchSituation }}</span><br/>
          <span>  {{inputModel.currentProfile.resultOutcomeLetter }}</span><br/>
          <span>  {{inputModel.currentProfile.rivalName }}</span><br/>
          <span ng-style="inputModel.currentProfile.matchSituation == 'A' && {'color': 'red'}">  {{inputModel.currentProfile.ownGoals}}</span><br/>
          <span ng-style="inputModel.currentProfile.matchSituation == 'A' && {'color': 'red'}">  {{inputModel.currentProfile.otherGoals}}</span><br/>
          <span ng-hide="inputModel.currentProfile.missedPen==0&&inputModel.currentProfile.savedPen==0 ">  {{inputModel.currentProfile.missedPen}}/{{inputModel.currentProfile.savedPen}}</span><br/>
          <span>  {{inputModel.currentProfile.woodWorks}}</span><br/>

      </td>
  </tr>
  <tr>
      <td>
          <span>TF</span>
      </td>
      <td *ngFor="let profile of inputModel.teamProfiles; let i = index" ng-dblclick="profileChangeView(profile,$event)">
      <span ng-hide="profile.visibilityMode" 
      placement="top"
      ngbTooltip="profile.currentFormDetails"
            >  {{profile.currentFormLevel}}</span>

          <input type="text" ng-show="profile.visibilityMode" ng-model="profile.currentFormLevel"
                 ng-blur="changeInput(profile)" class="editProf">
          <input type="text" ng-show="profile.visibilityMode" ng-model="profile.currentFormDetails"
                 ng-blur="changeInputComment(profile)" class="editProf">
      </td>
      <td ng-dblclick="profileChangeView(inputModel.currentProfile,$event)">
      <span ng-hide="inputModel.currentProfile.visibilityMode" 
      ngbTooltip="inputModel.currentProfile.currentFormDetails"
            >  {{inputModel.currentProfile.currentFormLevel}}</span>

          <input type="text" ng-show="inputModel.currentProfile.visibilityMode"
                 ng-model="inputModel.currentProfile.currentFormLevel"
                 ng-blur="changeInput(inputModel.currentProfile)" class="editProf">
          <input type="text" ng-show="inputModel.currentProfile.visibilityMode"
                 ng-model="inputModel.currentProfile.currentFormDetails"
                 ng-blur="changeInputComment(inputModel.currentProfile)" class="editProf">
      </td>


  </tr>
  <tr>

      <td>
          <span>RF</span>
      </td>
      <td *ngFor="let profile of inputModel.teamProfiles; let i = index">
          <span   ngbTooltip="profile.currentFormRivalDetails"
          >  {{profile.currentRivalFormLevel}}</span>
      </td>
      <td>
          <span  ngbTooltip="profile.currentFormRivalDetails"
          >  {{inputModel.currentProfile.currentRivalFormLevel}}</span>
      </td>


  </tr>


  <tr *ngFor="let player of inputModel.players; let i = index" class="text-center">
      <td>

          <span>{{player.playerName}} {{player.playerNumber}}</span><br/>
          <span>{{player.position}}</span>
      </td>
      <td *ngFor="let activity of player.activities; let i = index" click="activityClick($event)" class="sc{{activity.profileId}}"
          ng-class="{'greenClass':activity.isMileStone}">
          <div ng-hide="activity.minutesPerGame=='N' ||activity.minutesPerGame=='r'">
              <span [ngStyle]="activity.isInjSub && {'color': 'red'}">  {{activity.minutesPerGame }}</span>
              <span ng-hide="player.position==activity.playerCurrentPosition"> {{activity.playerCurrentPosition }}</span>
              <br/>

              <div *ngIf="activity.subResult!=null"> {{activity.subResult}}</div>
              <div *ngIf="activity.redCard!=null" [ngStyle]="{'background-color':'red'}">
                  <span >  {{activity.redCard!=null?activity.redCard.munitesReceiving:''}}</span><br/>
                  <span >  {{activity.redCard!=null?activity.redCard.resultReceiving:''}}</span><br/>
              </div>
              <div *ngIf="activity.goals!==0" [ngStyle]="activity.goals!==0 && {'color': 'red'}">{{activity.goals }}G
              </div>
              <div *ngIf="activity.goalAssists!==0" [ngStyle]="activity.goalAssists!==0 && {'color': 'red'}">
                  {{activity.goalAssists}}
              </div>
          </div>
      </td>

      <td ng-click="activityClick($event)" class="sc{{player.currentActivity.profileId}}">
<span ng-hide="player.currentActivity.minutesPerGame=='N' ||player.currentActivity.minutesPerGame=='r'">
              <span ng-style="player.currentActivity.minutesPerGame=='KM'  && {'color': 'red'}">  {{player.currentActivity.minutesPerGame }}</span>



          </span>
      </td>
  </tr>

  <tr *ngFor="let player of inputModel.newPlayers; let i = index" class="text-center">
      <td>

          <span>{{player.playerName}} {{player.playerNumber}}</span>
      </td>
      <td *ngFor="let activity of player.activities; let i = index" class="text-center">

      </td>

      <td class="text-center">

          <span>{{player.currentMinPlayes}}</span>
      </td>
  </tr>


</table>
