* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  color: #333;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* .row {
  max-width: 1140px;
  margin: 0 auto;
} */

body,
html {
  /* background-color: #0e0819 !important; */
  /* background-image: url('src/assets/images/body-background.jpg');
  background-size: contain;
  background-repeat: repeat repeat; */
  font-family: 'Roboto', 'Arial', 'sans-serif';
}

/*-----------------------------------------------------------*/
/*NAVIGATION*/
/*-----------------------------------------------------------*/
.navbar {
  /* position: relative;
  min-height: 125px;
  margin-bottom: 0px;
  border-radius: 0px;
  align-items: normal; */
  /* border: 1px solid transparent; */
}

.navbar-inverse {
  background-color: #333333;
  border-color: #08080800;
  border-radius: 0px;
}

#header-line {
  height: 25px;
  background-color: #1a1a1a;
  /*background-image: linear-gradient(to right, #e95a2b, #333333);*/
  /*margin-bottom: 25px;*/
}

/* .logo {
  background-image: url(src/assets/images/logo_2.png);
  height: 50px;
  width: auto;
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
} */

.bg-dark {
  background-color: #0e0819 !important;
}

.container-fluid {
  position: relative;
}

.text-block-slogan {
  position: absolute;
  top: 65px;
  left: 20px;
  font-size: 25px;
  padding: 6px 20px;
  background-color: rgba(234, 129, 55, 0.97);
  color: white;
}

#grad1 {
  height: 1.5px;
  background-color: #e95a2b;
  background-image: linear-gradient(to right, #e95a2b, #333333);
  margin-bottom: 13px;
}

/*.top-left {*/
/*position: absolute;*/
/*top: 8px;*/
/*left: 16px;*/
/*}*/
.main-nav {
  /*float:right;*/
  list-style: none;
  margin-top: 70px;
  margin-bottom: 10px;
}

.header-nav li {
  display: inline-block;
  margin-right: 20px;
  float: right;
}

.header-nav li a {
  padding: 3px 0;
  color: #cec8c8fc;
  text-decoration: none;
  text-transform: uppercase;
  /* font-size: 92%; */
  /* font-family: arial,sans-serif; */
  font-size: 10px;
  /* font-weight: normal; */
  font-weight: 700;
  display: block;
  letter-spacing: 0.10em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 20px;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
}

.main-nav li a {
  padding: 0px 0;
  color: #cec8c8fc;
  text-decoration: none;
  text-transform: uppercase;
  /* font-size: 92%; */
  /* font-family: arial,sans-serif; */
  font-size: 13px;
  /* font-weight: normal; */
  font-weight: 700;
  display: block;
  letter-spacing: 0.10em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 20px;
}

.main-nav li a:hover,
.main-nav li a:active {
  padding: 0px 0;
  border-bottom: 2px solid #f2eeef;

}





/*-----------------------------------------------------------*/
/*SEARCH BAR*/
/*-----------------------------------------------------------*/
.search-bar-btn {
  /*padding-top:20px;*/
}

.search-bar {
  padding-top: 12px;
}

/*@media (min-width: 768px) {*/
.navbar-form .form-control {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1a1a1a;
  border-color: #464444;
}

/*}*/

.btn-default {
  color: #fff;
  /*background-color: #fff;*/
  /*border-color: #ccc;*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1a1a1a;
  border-color: #464444;
}


/*-----------------------------------------------------------*/
/*PAGE CONTENT*/
/*-----------------------------------------------------------*/


#page-background {
  /*box-sizing: content-box;*/
  /*max-width: 100%;*/
  /*background-color: #f8f8f8;*/
  /*!*padding-top: 40px;*!*/
  /*!*background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.8)), url(src/assets/images/get-started.png);*!*/
  /*!*background-image: url(src/assets/images/get-started_2.png);*!*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*height:80vh;*/
  /*!*width: 100%;*!*/
  /*max-width: 100%;*/
  /*!*height: auto;*!*/
  /*display:block;*/
  /*height: auto;*/
  /*!*border-bottom: 4px solid #6e9145;*!*/
  /*box-shadow: 0 4px 4px #496b4ac7;*/
  /*width: 70%;*/
  /*border-bottom: 2px solid #00000094;*/
  /*border-bottom: 2px solid #22251d;*/
}

.img-thumbnail {
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
}

/*.slogan {*/
/*position: absolute;*/
/*top: 35%;*/
/*!*left: 50%;*!*/
/*!*transform: translate(-50%, -50%);*!*/
/*!*-ms-transform: translate(-50%, -50%);*!*/
/*font-size: 25px;*/
/*padding: 6px 20px;*/
/*background-color: rgba(234, 129, 55, 0.97);*/
/*color: white;*/
/*}*/
.get-started-text {
  position: absolute;
  font-size: 30px;
  top: 175px;
  left: 20px;
  /*top: 56%;*/
  padding: 0px 0px;
  color: white;
}

.get-started-btn {
  /* position: absolute;
  background-color: #d43c31f7;
  bottom: 50px;
  left: 20px;
  color: white;
  font-size: 16px;
  padding: 12px 42px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 4px 4px #646764; */
  background-color: #B9FF68;
  padding: 2px 30px;
  border-radius: 15px;
}

.get-started-btn:hover {
  background-color: rgba(158, 44, 36, 0.97);
  color: white;
}

/*-----------------------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------------------*/
footer {
  background-color: #333333;
  padding: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border: 2px solid #171414c2;
}

footer p {
  color: #cccccc;
  text-align: center;
  /*font-size:90%;*/
  /*margin-top: 20px;*/
}

.navigation-height {
  min-height: 60px;
}

.mobile-navigation {
  /* background-color: #94D552; */
  background-image: url('src/assets/images/nav-background.png');
  background-size: contain;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.black-background {
  background-color: black;
}

.no-background {
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(000,000,000,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.text-right {
  text-align: right;
}

.landing-font {
  color: #00CC65;
  font-weight: 600;
}

.landing-body-text {
  margin-top: 15vh;
  padding-right: 4vh;
}

.landing-body {
  margin-top: 4.5vh;
}

.landing-button {
  margin-top: 8vh;
}

.landing-button button {
  font-weight: 600;
}

.hamburger-container {
  margin-right: 2vh;
}

.logo {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100px;
  height: 100px;
}

.feature-icon {
  width: 150px;
}

.feature {
  margin-top: 17vh;
}

.feature-bottom-margin {
  margin-bottom: 5vh;
}

.feature-text {
  margin-top: 8vh;
}

.mobile-background {
  background-image: url('src/assets/images/body-background.jpg');
  background-size: contain;
  background-repeat: repeat repeat;
}

.desktop-background {
  background-image: url('src/assets/images/desktop-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.pricing-container {
  margin: auto;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.pricing-heading {
  margin-top: 7vh;
}

.pricing-icon {
  margin-top: 3vh;
}

.price {
  margin-top: 3vh;
}

.pricing-text {
  margin-top: 5vh;
}

.lower {
  width: 32vh;
  height: 50vh;
  background-color: #3D4681;
}

.upper {
  width: 26vh;
  height: 54vh;
  background-color: #536DFE;
  margin: auto;
  z-index: 2;
  position: absolute;
  top: -2vh;
  right: 3vh;
}

.pricing-icon-image {
  width: 7vh;
}
