<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark"> -->
<!--        <nav class="navbar navbar-expand-lg navigation-height"-->
<!--          [ngClass]="{'mobile-navigation':showMobile,'bg-dark navbar-dark':showDesktop}">-->
<!--          &lt;!&ndash; Brand &ndash;&gt;-->
<!--          <div class="navbar-brand">-->
<!--            <img src="../../assets/images/new_logo.svg" alt="" class="logo">-->
<!--          </div>-->
<!--          <div class="hamburger-container">-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
<!--              (click)="toggleNavbar()">-->
<!--              <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--          </div>-->

<!--          &lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;-->


<!--          &lt;!&ndash; Navbar links &ndash;&gt;-->

<!--          &lt;!&ndash; <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--                </div> &ndash;&gt;-->
<!--        </nav>-->
      </div>
    </div>
    <div *ngIf="showMobile" class="mobile-background">
      <div class="row">
        <!-- <img src="https://lh3.googleusercontent.com/-ffKDjytQChg/XSd85NATGII/AAAAAAAADj4/PIVHcvwLRmU0pBKSYalvOlwARTlhSU3bwCK8BGAs/s0/2019-07-11.png"
                         class="img-thumbnail" alt="Responsive Image" style="width:100%;" -->
        <!-- /> -->
        <!--<div class="col-sm-1"></div>-->
        <!--<div class="col-sm-10">-->
        <!-- <div class="text-block-slogan">
                      <p>Make Smart Betting Decisions</p>
                    </div> -->

        <!-- <div class="get-started-text">
                          <p>Get all the information you need </p>
                          <p>and make an informed </p>
                          <p>betting decision </p>
                        </div> -->
        <div class="container">
          <div class="row landing-body-text">
            <div class="landing-header full-width">
              <h2 class="landing-font text-right">Make</h2>
              <h2 class="landing-font text-right">smart</h2>
              <h2 class="landing-font text-right">betting</h2>
              <h2 class="landing-font text-right">decisions</h2>
            </div>
            <div class="landing-body full-width">
              <p class="landing-font text-right">Get all the information you need and</p>
              <p class="landing-font text-right">make an informed betting decision</p>
            </div>
            <div class="landing-button full-width">
              <button class="get-started-btn float-right" routerLink="/subscriptions">Get started</button>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="row feature">
            <div class="full-width text-center">
              <img src="../../assets/images/feature-icon-1.svg" alt="" class="feature-icon">
            </div>
            <div class="full-width text-center feature-text">
              <p class="landing-font">Build your own betting strategy</p>
              <p class="landing-font">based on real-time data, game </p>
              <p class="landing-font">history and statistics</p>
            </div>
            <!-- <div class="landing-button full-width text-center">
              <button class="get-started-btn" routerLink="/subscriptions">Get started</button>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="row feature">
            <div class="full-width text-center">
              <img src="../../assets/images/feature-icon-2.svg" alt="" class="feature-icon">
            </div>
            <div class="full-width text-center feature-text">
              <p class="landing-font">Build your own betting strategy</p>
              <p class="landing-font">based on real-time data, game </p>
              <p class="landing-font">history and statistics</p>
            </div>
            <!-- <div class="landing-button full-width text-center">
              <button class="get-started-btn" routerLink="/subscriptions">Get started</button>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="row feature feature-bottom-margin">
            <div class="full-width text-center">
              <img src="../../assets/images/feature-icon-3.svg" alt="" class="feature-icon">
            </div>
            <div class="full-width text-center feature-text">
              <p class="landing-font">Build your own betting strategy</p>
              <p class="landing-font">based on real-time data, game </p>
              <p class="landing-font">history and statistics</p>
            </div>
            <!-- <div class="landing-button full-width text-center">
              <button class="get-started-btn" routerLink="/subscriptions">Get started</button>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="pricing-container">
          <div class="lower">

          </div>
          <div class="upper">
            <div class="container">
              <div class="pricing-heading text-center font-weight-bold">
                <p>Elementum facilis</p>
              </div>
              <div class="pricing-icon text-center">
                <img src="../../assets/images/football.png" alt="" class="pricing-icon-image">
              </div>
              <div class="price text-center font-weight-bold">
                <p>15$/month</p>
              </div>
              <div class="pricing-text text-center">
                <p>-Lorem ipsum dolor sit amet</p>
                <p>-Consectetur adipiscing elit</p>
                <p>-Sed do elusmod tempor</p>
                <p>-Lorem ipsum dolor sit amet</p>
                <p>-Consectetur adipiscing elit</p>
                <p>-Sed do eiusmod temport</p>
              </div>
            </div>
          </div>
          <div class="landing-button full-width text-center">
            <button class="get-started-btn" routerLink="/subscriptions">Buy now</button>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="showDesktop" class="desktop-background">
      <div class="full-width">
        <h2 class="text-center">Make</h2>
        <h2 class="text-center">smart</h2>
        <h2 class="text-center">betting</h2>
        <h2 class="text-center">decisions</h2>
      </div>
    </div>
  </div>



<!--  <footer>-->
<!--    <div class="row">-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <p>-->
<!--          Copyright &copy; 2018-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->
</body>

</html>
