/*-----------------------------------------------------------*/
/*MODAL/
/*-----------------------------------------------------------*/
/*.card {*/
/*align-items: center;*/
/*text-align: center;*/
/*}*/
/*.card-img-flag {*/
/*width: 20% !important;*/
/*}*/

/*#myModal.modal.show {*/
  /*!*overflow-x: hidden;*!*/
  /*!*overflow-y: auto;*!*/
  /*display: flex !important;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*!*overflow: auto;*!*/
  /*align-items: center!important;*/
/*}*/

/*.modal-dialog-scrollable .modal-content {*/
  /*max-height: calc(100vh - 5rem);*/
  /*overflow: hidden;*/
  /*margin: 10px;*/
/*}*/
/*.card {*/
/*align-items: center;*/
/*text-align: center;*/
/*}*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #121212;
  background-clip: border-box;
  border-top: 5px solid #121212;
  border-radius: 0.25rem;
}
.card-image-flag{
  width: 65%!important;
}
#accordion {
  /*background: deeppink;*/
  /*padding: 10px;*/
}
/*.card-img-flag {*/
/*width: 20%!important;*/
/*align-items: center;*/
/*text-align: center;*/
/*margin-bottom: 5px;*/
/*}*/
.card-body {
  text-align: center;
  /*margin-top: 10px;*/
  width: 100%;
  background:#2d2733;
}
.divisions {
  margin: 10px 2px;
  /*padding: 5px 5px;*/
  /*border-bottom: 2px solid white;*/
}
.card-img {
  justify-content: center !important;
  text-align: center;
}

.modal-footer {
  height: 70px;
  background-color: #221835;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -1px;
  background-color: #f8f8f8;
  border: 1px solid #828282;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3db242;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3db242;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal-header {
  height: 45px;
  background-color: #1a0c32 !important;
}
.modal-header-leagues {
  background-color: #0d8a1f !important;

}
.modal-content {
  background-color: #110724 !important;
}
.modal-title {
  color: #ff56b8;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 8px;
}
.fa-star {
  align-items: center;
  size: 20px;
  height: 20px;
  font-size: 25px;
  color: #625252;
}


@media (max-width: 575px) {

  .card-img-flag {
    width: 15%;
  }
  .card-body {
    text-align: center;
    width: 100%;
  }

  .card-img {
    justify-content: center;
  }

}
.modal-dialog .modal-content .modal-header {
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
  background: #160c29;
}

/*-----------------------------------------------------------*/
/*MODAL COLORS*/
/*-----------------------------------------------------------*/

/*.card {*/
  /*!*align-items: center;*!*/
  /*!*text-align: center;*!*/
  /*!*padding: 10px;*!*/
  /*!*background: #4f4748;*!*/
  /*background: #282525;*/
  /*!*margin: 10px;*!*/
/*}*/
.page-content {
  padding: 0em;
}
.arrow-accordion {

}
.test {
  display: none;
}
.choose-league-modal {
  color:darkblue;
}

.card-link i {
  transform: rotate(180deg);
  /*content: "\f078";*/
  float: right;
  font-size: 21px;
  line-height: 1.5;

}

.card-link.collapsed i {
  transform: rotate(0deg);
  /*content: "\f077";*/
  float: right;
  font-size: 21px;
  line-height: 1.5;

}
/*.accordion .card-header .card-link .fas .fa-angle-down:after {*/
  /*font-family: 'FontAwesome';*/
  /*font-family: "Font Awesome 5 Free";*/
  /*content: "\f078";*/
  /*float: right;*/
  /*color:white;*/
/*}*/
/*.accordion .card-header .card-link.collapsed:after {*/
  /*!* symbol for "collapsed" panels *!*/
  /*content: "\f077";*/
/*}*/
.league-img-flag {
  width: 65%;
}

.flag-divisions {
float:left;
  height: 35px;
}
#flag-england {
  width: auto;
  height: 35px;
  float: left;
}
.single-league-img-flag {
  width: 20%;
}
.card-header {
  padding: 0.50rem 0.5rem;
  background: #1F1B24;
  border-top: 1px solid #1F1B24;
  border-left: 1px solid #1F1B24;
  border-right: 1px solid #1F1B24;
  border: 1px solid #1F1B24;
}
 .card-link {
  color: #afa5a5 !important;
  text-transform: uppercase;
  font-weight: 500;
}

