<!--<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">-->


  <div class="container-fluid" style="align-items: center">



      <!--<h2>Accordion Example</h2>-->
      <!--<p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>-->
      <!--<div id="accordion">-->
        <!--<div class="card">-->
          <!--<div class="card-header">-->
            <!--<a class="card-link" data-toggle="collapse" href="#collapseOne">-->
              <!--Collapsible Group Item #1-->
            <!--</a>-->
          <!--</div>-->
          <!--<div id="collapseOne" class="collapse show" data-parent="#accordion">-->
            <!--<div class="card-body">-->
              <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
          <!--<div class="card-header">-->
            <!--<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">-->
              <!--Collapsible Group Item #2-->
            <!--</a>-->
          <!--</div>-->
          <!--<div id="collapseTwo" class="collapse" data-parent="#accordion">-->
            <!--<div class="card-body">-->
              <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
          <!--<div class="card-header">-->
            <!--<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">-->
              <!--Collapsible Group Item #3-->
            <!--</a>-->
          <!--</div>-->
          <!--<div id="collapseThree" class="collapse" data-parent="#accordion">-->
            <!--<div class="card-body">-->
              <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <h5 style="color:#afa5a5;font-size: 18px;">Select competitions</h5>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="card-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="row">
                <div class="col">
                  <img id="flag-england" src="assets/images/England.png" alt="Card image">
                </div>
                <div class="col">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div *ngFor="let item of divisionsEngland" class="divisions">
              <!--<hr style="color:white">-->
              <div class="row">
                <img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">
                <div class="col">
                  <!--<i class="far fa-star"></i>-->
                  <!--<img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">-->
                </div>
                <div class="col">
                  <i class="far fa-star" style="align-items: center"></i>
                  <label class="switch" style="float: right;top: 7px;">
                    <input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <a class="card-link collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="row">
                <div class="col">
                  <img id="flag-england" src="assets/images/Germany.png" alt="Card image">
                </div>
                <div class="col">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div *ngFor="let item of divisionsGermany">
              <div class="row">
                <div class="col">
                  <img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">
                </div>
                <div class="col" >
                  <label class="switch" style="float: right">
                    <input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <a class="card-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="row">
                <div class="col">
                  <img id="flag-england" src="assets/images/France.png" alt="Card image">
                </div>
                <div class="col">
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <div *ngFor="let item of divisionsFrance">
              <div class="row">
                <div class="col">
                  <img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">
                </div>
                <div class="col" >
                  <label class="switch" style="float: right">
                    <input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


          <!--<div class="accordion" id="accordion">-->
            <!--<div class="card">-->
            <!--<div class="card-header">-->
              <!--<button class="card-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">-->
                <!--&lt;!&ndash;Choose your league&ndash;&gt;-->
                <!--<div class="row">-->
                <!--<div class="col">-->
                  <!--<img id="flag-england" src="assets/images/England.png" alt="Card image">-->
                <!--</div>-->
                <!--<div class="col">-->
                  <!--<i class="fas fa-angle-down"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--</button>-->
            <!--</div>-->
              <!--<div id="collapseOne" class="collapse show" data-parent="#accordion">-->
              <!--<div class="card-body">-->
                <!--<div *ngFor="let item of divisionsEngland">-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">-->
                    <!--</div>-->
                    <!--<div class="col" >-->
                      <!--<label class="switch" style="float: right">-->
                        <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}-->
                        <!--<span class="slider round"></span>-->
                      <!--</label>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

            <!--<div class="card">-->
              <!--<div class="card-header">-->
                <!--<button class="card-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">-->
                  <!--&lt;!&ndash;Choose your league&ndash;&gt;-->
                  <!--<div class="row">-->
                  <!--<div class="col">-->
                    <!--<img id="flag-england" src="assets/images/England.png" alt="Card image">-->
                  <!--</div>-->
                  <!--<div class="col">-->
                    <!--<i class="fas fa-angle-down"></i>-->
                  <!--</div>-->
                  <!--</div>-->
                <!--</button>-->
              <!--</div>-->
              <!--<div id="collapseTwo" class="collapse" data-parent="#accordion">-->
                <!--<div class="card-body">-->
                  <!--<div *ngFor="let item of divisionsEngland">-->
                    <!--<div class="row">-->
                      <!--<div class="col">-->
                        <!--<img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">-->
                      <!--</div>-->
                      <!--<div class="col" >-->
                        <!--<label class="switch" style="float: right">-->
                          <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}-->
                          <!--<span class="slider round"></span>-->
                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card">-->
              <!--<div class="card-header">-->
                <!--<button class="collapsed card-link" data-toggle="collapse" href="#collapseThree">-->
                  <!--&lt;!&ndash;Choose your league&ndash;&gt;-->
                  <!--<div class="row">-->
                  <!--<div class="col">-->
                    <!--<img id="flag-england" src="assets/images/England.png" alt="Card image">-->
                  <!--</div>-->
                  <!--<div class="col">-->
                    <!--<i class="fas fa-angle-down"></i>-->
                  <!--</div>-->
                  <!--</div>-->
                <!--</button>-->
              <!--</div>-->
              <!--<div id="collapseThree" class="collapse" data-parent="#accordion">-->
                <!--<div class="card-body">-->
                  <!--<div *ngFor="let item of divisionsEngland">-->
                    <!--<div class="row">-->
                      <!--<div class="col">-->
                        <!--<img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">-->
                      <!--</div>-->
                      <!--<div class="col" >-->
                        <!--<label class="switch" style="float: right">-->
                          <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}-->
                          <!--<span class="slider round"></span>-->
                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card">-->
              <!--<div class="card-header">-->
                <!--<a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">-->
                  <!--&lt;!&ndash;Choose your league&ndash;&gt;-->
                  <!--<div class="row">-->
                  <!--<div class="col">-->
                    <!--<img id="flag-england" src="assets/images/England.png" alt="Card image">-->
                  <!--</div>-->
                  <!--<div class="col">-->
                    <!--<i class="fas fa-angle-down"></i>-->
                  <!--</div>-->
                <!--</div>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div id="collapseFour" class="collapse" data-parent="#accordion">-->
                <!--<div class="card-body">-->
                  <!--<div *ngFor="let item of divisionsEngland">-->
                    <!--<div class="row">-->
                      <!--<div class="col">-->
                        <!--<img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">-->
                      <!--</div>-->
                      <!--<div class="col" >-->
                        <!--<label class="switch" style="float: right">-->
                          <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}-->
                          <!--<span class="slider round"></span>-->
                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card">-->
              <!--<div class="card-header">-->
                <!--<a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">-->
                  <!--&lt;!&ndash;Choose your league&ndash;&gt;-->
                  <!--<div class="row">-->
                  <!--<div class="col">-->
                    <!--<img id="flag-england" src="assets/images/England.png" alt="Card image">-->
                  <!--</div>-->
                  <!--<div class="col">-->
                    <!--<i class="fas fa-angle-down"></i>-->
                  <!--</div>-->
                <!--</div>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div id="collapseFive" class="collapse" data-parent="#accordion">-->
                <!--<div class="card-body">-->
                  <!--<div *ngFor="let item of divisionsEngland">-->
                    <!--<div class="row">-->
                      <!--<div class="col">-->
                        <!--<img class="flag-divisions" src="assets/images/{{item.name}}.png" alt="Card image">-->
                      <!--</div>-->
                      <!--<div class="col" >-->
                        <!--<label class="switch" style="float: right">-->
                          <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.name}}-->
                          <!--<span class="slider round"></span>-->
                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->


            <!--<div class="card">-->
              <!--<div class="card-header">-->
                <!--<a class="card-link" data-toggle="collapse" data-target="#collapseOne">-->
                  <!--Choose your league-->
                  <!--&lt;!&ndash;<i class="arrow-accordion"  ></i>&ndash;&gt;-->
                  <!--<img  src="/assets/images/arrow-down2.svg" >-->
                  <!--&lt;!&ndash;<i class="fas arrow-accordion"></i>&ndash;&gt;-->
                  <!--&lt;!&ndash;<i class="fas fa-angle-down arrow-accordion"></i>&ndash;&gt;-->
                <!--</a>-->
              <!--</div>-->
              <!--<div id="collapseOne" class="collapse show" data-parent="#accordion">-->
                <!--<div class="card-body">-->
                  <!--<div class="row">-->
                    <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                    <!--<div  class="col" *ngFor="let item of options">-->

                      <!--<img class="league-img-flag" src="assets/images/{{item.name}}.png" alt="Card image"><br>-->
                      <!--<label class="switch" >-->

                        <!--<input type="checkbox" [(ngModel)]="item.checked" (change)="onToggle()">{{item.label}}-->
                        <!--<span class="slider round"></span>-->

                      <!--</label>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card">-->
              <!--<div class="card-header">-->
                <!--<a class="card-link collapsed" data-toggle="collapse"  data-target="#collapseTwo">-->
                  <!--Refine your selection-->
                  <!--<img  src="/assets/images/arrow-down2.svg" >-->
                <!--</a>-->
              <!--</div>-->
              <!--<div id="collapseTwo" class="collapse" data-parent="#accordion">-->
                <!--<div class="row card-img" style="justify-content: center;" *ngFor="let sel of this.selectedValues; let i=index; ">-->
                  <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                  <!--<img class="single-league-img-flag" src="assets/images/{{sel}}.png" alt="Card image" >-->
                  <!--<div class="card-body">-->

                    <!--<div class="row" >-->
                      <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->

                      <!--&lt;!&ndash;<img class="league-img-flag" src="assets/images/Germany.png" alt="Card image"><br>&ndash;&gt;-->
                      <!--<div  class="col" *ngFor="let option of options[i].divisions">-->
                        <!--&lt;!&ndash;<div class="row" style="align-items: center;text-align: center">&ndash;&gt;-->
                          <!--<p style="align-items: center;text-align: center;font-size:18px;color:#afa5a5;">{{option.name}}</p>-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="league-img-flag" src="assets/images/Germany.png" alt="Card image"><br>&ndash;&gt;-->
                        <!--<label class="switch" >-->

                          <!--<input type="checkbox" [(ngModel)]="option.checked2" (change)="onToggle2($event)">-->
                          <!--<span class="slider round"></span>-->

                        <!--</label>-->
                      <!--</div>-->
                      <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card" style="background: transparent">-->
            <!--&lt;!&ndash;<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>&ndash;&gt;-->
            <!--<button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="saveChanges()" >Save changes</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
          <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>-->
          <!--<button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="saveChanges()">Save changes</button>-->
        <!--</div>-->
  </div>
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
