<div id="example1">
  <div class="row">
    <div>
        Teams
    </div>
    <div>
      <div *ngFor="let team of teams">
        <div class="row">
            <div class="col-xs-8">
                {{team.name}}
              </div>
              <div class="col-xs-4">
                <a routerLink="/teams/{{team.nick}}" routerLinkActive="active">{{team.nick}}</a>
              </div>
        </div>
          
      </div>
    </div>
    <!--<img class="logo" style="cursor: pointer;" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg" routerLink="/teams">-->
    <!--<img class="logo2" style="cursor: pointer;" src="https://i2.wp.com/europeelects.eu/wp-content/uploads/2018/11/Flag_of_Germany.png?resize=1000%2C600&ssl=1" routerLink="/teams">-->
    <!--<img class="logo3" style="cursor: pointer;" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg" routerLink="/teams">-->
    <!--<img class="logo4" style="cursor: pointer;" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg" routerLink="/teams">-->
    <!--<img class="logo5" style="cursor: pointer;" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg" routerLink="/teams">-->
  </div>
</div>
<div>
</div>
