#example1 {
  box-sizing: content-box;
  max-width: 100%;
  /*height: 100px;*/
  /*padding: 30px;*/
  /*border: 1px solid #080808;*/
  background-color: #060606;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.logo {
  /*margin-left: 125px;*/
  /*margin-top: 3px;*/
  height: 70px;
  width:auto;
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 1%;
}

.logo2 {
  /*margin-left: 125px;*/
  /*margin-top: 3px;*/
  height: 70px;
  width:auto;
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 12%;
}
.logo3 {
  /*margin-left: 125px;*/
  /*margin-top: 3px;*/
  height: 70px;
  width:auto;
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 12%;
}
.logo4 {
  /*margin-left: 125px;*/
  /*margin-top: 3px;*/
  height: 70px;
  width:auto;
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 12%;
}
.logo5 {
  /*margin-left: 125px;*/
  /*margin-top: 3px;*/
  height: 70px;
  width:auto;
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 12%;
}
