<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">ProfileId</label>
      <input type="text" formControlName="ProfileId">
    </div>
    <div class="row">
      <label for="">New Manager</label>
      <input type="text" formControlName="NewManager"/>
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>
