.bg {
  /* The image used */
  background-image: url("src/assets/images/soccer-field.jpg");

  /* Full height */
  height: 30vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul.nav-tabs{
  list-style-type:none;
  display:flex;
  justify-content: center;

}
ul li.nav-item{
  display: list-item;
  background: black;
  padding: 0px 10px;
  color:white;
  margin: 0 0px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}
.centered-names {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-80%, -20%);
}
.mu {
  background-image: url("src/assets/images/mu.svg");

  /* Full height */
  height: 60px;
  width: 60px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.teams-names {
  font-size:15px;
  color:white;
}

/*NEW*/
.host-image {
  width: 5em;
  margin-top:1.5em;
}

.host-guest-image-text {
  text-align:center;
  font-size:1em;
  color: white;
}
.host-guest-game-date {
  text-align:center;
  font-size:1.2em;
  color: white;
}

/*TABS HOST GUEST*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #0e1746;
  background-color: #0e0d0d;
  border-color: #0d0e0e #0b0c0c #0a0a0a;
}
