<!--<div *ngIf="isLoaded; else loading" class="container" >-->
<!--  <div class="table-responsive col">-->
<!--      <app-profile-single-game-template [inputModel]="hostModel"></app-profile-single-game-template>-->
<!--  </div>-->
<!--  <div class="table-responsive col">-->
<!--      <app-profile-single-game-template [inputModel]="guestModel"></app-profile-single-game-template>-->
<!--</div>-->
<!--</div>-->

<div class="container">
  <div class="row" style="margin-bottom: 60px;">
    <div class="col-sm-12">
      <!--      IMAGE-->
      <div class="bg">
        <div class="row">
          <!--HOST-->
          <div class="col-6 mu"  style="background: transparent; text-align:center;">
            <img class="host-image" src="assets/images/mu.svg"/>
          </div>
          <div class="col-6 mu" style="background: transparent; text-align:center;">
            <img class="host-image" src="assets/images/mu.svg"/>
          </div>
        </div>
          <!--HOST-->
          <!--GUEST-->
        <div class="row" style="margin-top: 3em">
          <div class="col host-guest-image-text">
            TEXT
<!--            {{this.host}}-->
          </div>
          <div class="col host-guest-image-text">
            TEXT 2
<!--            {{this.guest}}-->
          </div>
          <!--GUEST-->
        </div>

<!--DATE FOR THE GAME-->
        <div class="row" style="margin-top: 2em">
          <div class="col-12 host-guest-game-date">
            12-05-2019
            <!--          {{this.dateForGame}}-->
          </div>
        </div>
        <!--DATE FOR THE GAME-->



<!--        <div class="centered">-->
<!--          <div class="row">-->
<!--            <div class="mu" style="margin-left: 25px;margin-bottom:5px;float:left"></div>-->
<!--          </div>-->
<!--          <div class="teams-names" style="float: left">{{this.host}}</div>-->
<!--        </div>-->

<!--        <div>-->
<!--          {{this.dateForGame}}-->
<!--        </div>-->
<!--        <div>-->
<!--          {{this.status}}-->
<!--        </div>-->

<!--        <div class="centered2">-->
<!--          <div class="row">-->
<!--            <div class="mu" style="margin-left: 25px;margin-bottom:5px;float:right"></div>-->
<!--          </div>-->
<!--          <div class="teams-names" style="float: right">{{this.guest}}</div>-->
<!--        </div>-->

      </div>

<!--      IMAGE-->
      </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="background-color:BLACK;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
             aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
             aria-selected="false">Profile</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
          probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
          cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
          placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
          qui.</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
          locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
          blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
          Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
          PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
          salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
          sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
          stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      </div>

    </div>
    <!--<div class="col-sm-6" style="background-color:pink;">-->
      <!--<p>Sed ut perspiciatis...</p>-->
    <!--</div>-->
  </div>

</div>
