th {
  text-align: left;
  text-color: #F2EEEF;
  font: 16px arial, sans-serif;
  font-weight: 600;
  border: 2px solid #0e1f0bd9;
  padding-left: 4px;
}

tr {
  text-align: left;
  font: 15px arial, sans-serif;
  height: 4vh;
}

td {
  /*border-left: 1px solid #9aca7d;*/
  padding-left: 6px;
  color: #9E9E9E;
  font: 15px arial, sans-serif;
}

.row {
  background-color: #575556;
}

/*---------------------------------TABLE--------------------------------------*/

table {
  display: block;
  max-height: 250px;
  max-width: 100%;
  border-collapse: collapse;
  overflow: auto;
  border-radius: 1em;
  /*margin-top: 20px;*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  margin-bottom: 30px;
  margin-top: 50px;
}

table.main-window-table th {
  background-color: #64567f;
  color: #ffffffe0;
  width: 25%;
  /*border-color: #172d0a;*/
  height: 4vh;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 600;
  border: 2px solid #3f2b62e3;
}

table.main-window-table tr:nth-child(even) {
  background-color: #673ab71a;
}

table.main-window-table tr:nth-child(odd) {
  background-color: rgba(248, 248, 248, 0.14);
}

/*---------------------------------TABLE BOX--------------------------------------*/
#example1 {
  box-sizing: content-box;
  max-width: 100%;
  /*height: 100px;*/
  /*padding: 30px;*/
  /*border: 2px solid #ff98008c;*/
  border-radius: 1em;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0 0 1em;
  padding: 0;
}

.top-padding {
  padding-top: 1em;
}

.header-border {
  margin: 0;
  border: 1px solid black;
  /* background-color: #575556; */
}

.max-height {
  max-height: 100%;
}
