/*-----------------------------------------------------------*/
/*MODAL/
/*-----------------------------------------------------------*/
.card {
  align-items: center;
  text-align: center;
}
.card-img-flag {
  width: 20% !important;
}

#myModal.modal.show {
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  /*overflow: auto;*/
  align-items: center!important;
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 5rem);
  overflow: hidden;
  margin: 10px;
}
.card {
  align-items: center;
  text-align: center;
}
.card-image-flag{
  width: 20%!important;
}
/*.card-img-flag {*/
  /*width: 20%!important;*/
  /*align-items: center;*/
  /*text-align: center;*/
  /*margin-bottom: 5px;*/
/*}*/
.card-body {
  text-align: center;
  margin-top: 10px;
}

.card-img {
  justify-content: center !important;
  text-align: center;
}

.modal-footer {
  height: 70px;
  background-color: #221835;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -1px;
  background-color: #f8f8f8;
  border: 1px solid #828282;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal-header {
  height: 45px;
  background-color: #1a0c32 !important;
}
.modal-header-leagues {
  background-color: #0d8a1f !important;

}
.modal-content {
  background-color: #110724 !important;
}
.modal-title {
  color: #ff56b8;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 8px;
}



@media (max-width: 575px) {

  .card-img-flag {
    width: 15%;
  }
  .card-body {
    text-align: center;
    width: 100%;
  }

  .card-img {
    justify-content: center;
  }

}
.modal-dialog .modal-content .modal-header {
  border-top-left-radius: .125rem;
  border-top-right-radius: .125rem;
  background: #160c29;
}
