<!--<div mdbModal #basicModal class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"-->
     <!--aria-hidden="true" id="myModal">-->
  <!--<div class="modal-dialog modal-dialog-scrollable" role="document">-->
    <!--<div class="modal-content">-->
      <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
      <!--<div class="modal-header ">-->
        <!--<div class="col" style="text-align: center;">-->
          <!--<h4 class="modal-title w-100" id="myModalLabel">Choose Your Leagues</h4>-->
        <!--</div>-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">-->
          <!--<span aria-hidden="true">×</span>-->
        <!--</button>-->
      <!--</div>-->


      <!--<div class="modal-body">-->
        <!--<div class="card" style=" align-items: center;-->
  <!--text-align: center;">-->
          <!--<div class="row card-img" style="justify-content: center;">-->
            <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
            <!--<img class="card-img-flag" src="assets/images/Germany.png" alt="Card image" style="width:20%">-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="card-body">-->
              <!--<div class="row">-->
                <!--<div class="col">-->
                  <!--<h6>First</h6>-->
                  <!--<h6>Division</h6>-->
                  <!--<label class="switch" >-->
                    <!--<input type="checkbox" (change)="divisionSelect($event)"  value="England">-->
                    <!--<span class="slider round"></span>-->
                  <!--</label>-->
                <!--</div>-->

                <!--<div class="col">-->
                  <!--<h6>Second</h6>-->
                  <!--<h6>Division</h6>-->
                  <!--<label class="switch">-->
                    <!--<input type="checkbox">-->
                    <!--<span class="slider round"></span>-->
                  <!--</label>-->
                <!--</div>-->

                <!--<div class="col">-->
                  <!--<h6>Third</h6>-->
                  <!--<h6>Division</h6>-->
                  <!--<label class="switch">-->
                    <!--<input type="checkbox">-->
                    <!--<span class="slider round"></span>-->
                  <!--</label>-->
                <!--</div>-->

                <!--<div class="col">-->
                  <!--<h6>Fourth</h6>-->
                  <!--<h6>Division</h6>-->
                  <!--<label class="switch">-->
                    <!--<input type="checkbox">-->
                    <!--<span class="slider round"></span>-->
                  <!--</label>-->
                <!--</div>-->

                <!--<div class="col">-->
                  <!--<h6>Fifth</h6>-->
                  <!--<h6>Division</h6>-->
                  <!--<label class="switch">-->
                    <!--<input type="checkbox">-->
                    <!--<span class="slider round"></span>-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="card" style=" align-items: center;-->
  <!--text-align: center;">-->
          <!--<div class="row card-img" style="justify-content: center;">-->
              <!--<img class="card-img-flag" src="assets/images/France.png" alt="Card image" style="width: 20%">-->

          <!--</div>-->
          <!--<div class="card-body">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<h6>First</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Second</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Third</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fourth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fifth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

            <!--</div>-->

          <!--</div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="card" style=" align-items: center;-->
  <!--text-align: center;">-->
          <!--<div class="row card-img" style="justify-content: center;">-->
            <!--<img class="card-img-flag" src="assets/images/Italy.png" alt="Card image" style="width: 20%">-->

          <!--</div>-->
          <!--<div class="card-body">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<h6>First</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Second</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Third</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fourth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fifth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

            <!--</div>-->

          <!--</div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="card" style=" align-items: center;-->
  <!--text-align: center;">-->
          <!--<div class="row card-img" style="justify-content: center;">-->
            <!--<img class="card-img-flag" src="assets/images/Spain.png" alt="Card image" style="width: 20%">-->

          <!--</div>-->
          <!--<div class="card-body">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<h6>First</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Second</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Third</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fourth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fifth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card" style=" align-items: center;-->
  <!--text-align: center;">-->
          <!--<div class="row card-img" style="justify-content: center;">-->
            <!--<img class="card-img-flag" src="assets/images/England.png" alt="Card image" style="width: 20%">-->

          <!--</div>-->
          <!--<div class="card-body">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<h6>First</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Second</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Third</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fourth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->

              <!--<div class="col">-->
                <!--<h6>Fifth</h6>-->
                <!--<h6>Division</h6>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

        <!--&lt;!&ndash;<ng-content></ng-content>&ndash;&gt;-->

    <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>-->
        <!--<button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->









<!--&lt;!&ndash;&lt;!&ndash; Modal &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<div class="modal" id="myModal">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="modal-dialog modal-dialog-scrollable">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="modal-content">&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash; Modal Header &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="modal-header">&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="col" style="text-align: center;">&ndash;&gt;-->
          <!--&lt;!&ndash;<h4 class="modal-title">Choose Your Leagues</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->



        <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" style="color: white;">×</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash; Modal body &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="modal-body">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->

          <!--&lt;!&ndash;&lt;!&ndash;<div class="container-fluid">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row card-img">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<div class="col">&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="card-img-flag" src="assets/images/Germany.png" alt="Card image">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>First</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label class="switch" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox" (change)="divisionSelect($event)"  value="England">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Second</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Third</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Fourth</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Fifth</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                  <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col" style="text-align: center;">&ndash;&gt;-->
              <!--&lt;!&ndash;<img class="card-img-flag" src="assets/images/France.png" alt="Card image">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>First</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Second</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Third</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fourth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fifth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col" style="text-align: center;">&ndash;&gt;-->
              <!--&lt;!&ndash;<img class="card-img-flag" src="assets/images/Italy.png" alt="Card image">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>First</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Second</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Third</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fourth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fifth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col" style="text-align: center;">&ndash;&gt;-->
              <!--&lt;!&ndash;<img class="card-img-flag" src="assets/images/Spain.png" alt="Card image">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>First</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Second</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Third</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fourth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fifth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col" style="text-align: center;">&ndash;&gt;-->
              <!--&lt;!&ndash;<img class="card-img-flag" src="assets/images/England.png" alt="Card image">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>First</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Second</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Third</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fourth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Fifth</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<h6>Division</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="switch">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="slider round"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash; Modal footer &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="modal-footer">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col" style="text-align: center">&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-success" data-dismiss="modal" style="padding: 10px 25px;">Save</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col" style="text-align: center">&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="btn btn-danger" data-dismiss="modal" style="padding: 10px 25px;">Close</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
