/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { margin: 0; }
.modal {
  display: block;
  position: fixed;
  max-height: calc(100vh - 4rem);
  overflow: hidden;
  overflow-y:scroll;
  height: auto;
  margin-top:20px;
  margin-bottom:20px;
}

/* Important part */
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 250px;
  overflow-y: auto;
}

