<div class="container">
  <div class="row">
    <ul>
      <li>
        <a routerLink="/admin/UpdateDuplicateProfile">UpdateDuplicateProfile</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateUndefinedProfile">UpdateUndefinedProfile</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateCurrentFormLevel">UpdateCurrentFormLevel</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateCurrentFormDetails">UpdateCurrentFormDetails</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateManager">UpdateManager</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateProfilePostsandPenalties">UpdateProfilePostsAndPenalties</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateGameStatus">UpdateGameStatus</a>
      </li>
      <li>
        <a routerLink="/admin/UpdatePlayerAbsence">UpdatePlayerAbsence</a>
      </li>
      <li>
        <a routerLink="/admin/UpdateMilestone">UpdateMilestone</a>
      </li>
    </ul>
  </div>
</div>