<div class="container">
  <div class="row">
<!--REAL UPDATES -->
    <div class="col-md-4 real-updates">

      <img  class="real-updates-image" style="cursor: pointer;"
            src="assets/images/real-time-updates2.png"
            routerLink="/teams">

      <p class="real-updates-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>

    <!--BUILD STRATEGY -->
    <div class="col-md-4 build-strategy">
      <img  class="build-strategy-image"
           src="assets/images/build-your-strategy2.png"
           routerLink="/teams">

      <p class="build-strategy-text">Build your own betting strategy based on real-time data, game-history and statistics.</p>
      <!--<div class="build-strategy-button">-->
        <!--<a href="#" class="btn btn-primary" routerLink="/strategies" style="align-items: center;">BUILD YOUR OWN STRATEGY</a>-->
      <!--</div>-->
    </div>

    <!--STATISTICS -->
      <div class="col-md-4 real-updates">
      <img  class="statistics-image" style="cursor: pointer;"
            src="assets/images/examples2.png"
            routerLink="/teams">



      <p class="statistics-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!--<div class="real-updates-button">-->
        <!--<a href="#" class="btn btn-primary" routerLink="/home" style="align-items: center;">BUILD YOUR OWN STRATEGY</a>-->
      <!--</div>-->

</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="build-strategy-btn">
        <a class="build-strategy-button">BUILD YOUR OWN STRATEGY</a>
      </div>
    </div>
  </div>

</div>
