@media (max-width: 2600px) and (min-width: 768px) {

  .real-updates {
    background: #282525;
    border-radius: 10px;
    height: 50vh;
    padding: 20px 0px;
    box-shadow: 0 1px 3px 0 rgba(99, 95, 95, 0.22);
    margin: 30px 0px;
    border: 1px solid #5356557a;
  }
  .build-strategy-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 57%;
    padding-bottom: 20px;
  }

  .build-strategy-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .build-strategy-button {
    text-align: center;
    /* padding: 20px; */
    border: 2px solid white;
    /* border-radius: 16px; */
    padding: 12px 18px;
    font-weight: 600;
    color: #fff;
    background: #ff980003;
    font-size: 17px;
  }

  .build-strategy-btn {
    text-align: center;
    color: white;
    margin: 50px 0 50px 0;
  }

  .real-updates-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
  }

  .real-updates-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
  }


  .build-strategy {
    text-align: center;
    background: #423e3e;
    border-radius: 10px;
    height: 70vh;
    padding: 25px 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 0px 0px;
    border: 1px solid #5356557a;
  }

  .statistics-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
  }

  .statistics-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
  }

  /*.real-updates-button {*/
  /*text-align: center;*/
  /*!*padding: 20px;*!*/
  /*color: #fff;*/
  /*!*background-color: #0fa226;*!*/
  /*border-color: #0d8a1f;*/
  /*font-weight: 600;*/
  /*}*/
  .btn-primary {
    color: #fff;
    background-color: #d87e26;
    border-color: #bb6d21;
  }
}


@media (max-width: 768px) {
  .build-strategy-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 57%;
    padding-bottom: 20px;
  }

  .build-strategy-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .build-strategy-button {
    text-align: center;
    /* padding: 20px; */
    border: 2px solid white;
    /* border-radius: 16px; */
    padding: 12px 18px;
    font-weight: 600;
    color: #fff;
    background: #ff980003;
    font-size: 17px;
  }

  .build-strategy-btn {
    text-align: center;
    color: white;
    margin: 50px 0 50px 0;
  }

  .real-updates-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
  }

  .real-updates-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
  }

  .real-updates {
    background: #423e3e;
    border-radius: 10px;
    height: 50vh;
    padding: 20px 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
    border: 3px solid #127352b3;
  }

  .build-strategy {
    text-align: center;
    /* padding-top: 30px; */
    background: #423e3e;
    border-radius: 10px;
    height: 80vh;
    padding: 20px 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
    border: 3px solid #16588c;
  }

  .statistics-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
  }

  .statistics-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
  }

  .btn-primary {
    color: #fff;
    background-color: #d87e26;
    border-color: #bb6d21;
  }
}
@media (max-width: 1200px) {
  .statistics-text {
    padding-left: 10px;
    padding-right: 10px;
}
  .real-updates-text {
    padding-left: 10px;
    padding-right: 10px;
  }

  .build-strategy-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 768px) and (min-width: 480px) {

  .real-updates-image {
    width: 23%;
  }
  .build-strategy-image {
    width: 30%;
  }
  .statistics-image {
    width: 23%;
  }

}


