<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">ID</label>
      <input type="text" formControlName="id">
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>
