<div class="container">
  <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">

    <div class="row">
      <label for="">firstPlayerId</label>
      <input type="text" formControlName="FirstPlayerId">
    </div>
    <div class="row">
      <label for="">firstPlayerName</label>
      <input type="text" formControlName="FirstPlayerName">
    </div>
    <div class="row">
      <label for="">secondPlayerId</label>
      <input type="text" formControlName="SecondPlayerId">
    </div>
    <div class="row">
      <label for="">secondPlayerName</label>
      <input type="text" formControlName="SecondPlayerName">
    </div>
    <div class="row">
      <input type="submit">
    </div>
</form>

</div>

